[2018-07-28 06:58] mdmadhu commented on #1073
Thanks @jonmmease, for your suggestions! I think my problems were a result of incompatibility between yarn v1.5.1 (bundled with JupyterLab 0.32.1) and Node 10.x. After I downgraded to Node@8, everything went through fine.

[2018-07-28 06:58] #1073 closed

[2018-07-28 09:53] jonmmease opened #1078 "Efficient deep copy of graph_objs without validation"
Consider the following:

[code]

Right now, the construction of `fig2` involves the re-validation of all of the properties in fig1. But this is unnecessarily since the properties are guaranteed to be valid in fig1.

Also consider this case:
[code]

Here, go.Scatter should not rerun the marker validation logic, and go.Figure should not rerun the scatter trace validation logic.

We should have a fas

[2018-07-28 10:27] jonmmease opened #1079 "Add output_type option to figure_factory functions"
I propose we add a new option to all figure factory methods named `output_type`. This may be set to `'Figure'` (default), `'FigureWidget'`, or `'dict'`.

Setting `output_type` to `'dict'` would return only the dictionary version of the figure.  This would be the fastest path, especially for figure factories that produce figures with lost of traces. It would provide an option for people to construc

[2018-07-28 16:20] moorepants opened #1080 "New Plotly 3 objects are not json serializable"
When building dash apps it is convenient to store data in hidden json files on the client.

See: https://dash.plot.ly/sharing-data-between-callbacks

This relies on the ability serialize plotly objects, which seemed to be a universal feature in Plotly 2.

In plotly 3, the objects no longer serialize, introducing a backwards incompatible change that affects a recommended way of sharing data across

[2018-07-28 18:12] RZachLamberty opened #1081 "copy_to_readonly_numpy_array needlessly copies pandas series objects"
the function `_plotly_utils.basevalidators.copy_to_readonly_numpy_array` performs a full copy of `pd.Series` objects which contain existing `np.ndarray` data as the `values` attribute. we could utilize the `values` attribute to dramatically speed up trace generation, especially for large dataframes.

*environment*: `plotly` version `3.1.0`. macos high sierra 10.13.6. `plotly` installation via `con

[2018-07-28 18:13] RZachLamberty commented on #1081
I may work on a pull request for this today, but I believe this can be directly addressed by adding an extra `elseif` level checking if the type of `v` is `pd.Series` and if the type of `v.values` is `np.ndarray` (it could be `pd.Categorical`, e.g.)

[2018-07-28 18:30] chriddyp commented on #1080
@moorepants - I recommend using the plotly json serializer. This is the same serializer as in plotly.py 2.0, so there shouldn't be any breaking changes if you use this. Plus, it works with other objects like `datetime`, `numpy`, `pandas`:
[code]
I'll update the dash docs with this as well

[2018-07-28 18:30] #1080 closed

[2018-07-29 22:12] jackparmer commented on #861
Streamtubes are now released:

Python: https://plot.ly/python/streamtube-plot/
R: https://plot.ly/r/streamtube-plot/

![image](https://user-images.githubusercontent.com/1865834/43371191-f8b09070-935a-11e8-804a-867cef0b5fdf.png)

https://plot.ly/~empet/14958

[2018-07-29 22:12] #861 closed

[2018-07-30 09:47] jonmmease commented on #1081
Awesome, thanks for digging into this. A PR would be very welcome!

[2018-07-30 10:00] jonmmease commented on #1077
Hi @armadillocommander ,

You're example isn't reproducible, but when I change it to the following I get the `closest` hover mode behavior on plot.ly

[code]

The mouse cursor doesn't show up in the image below, but it's right on the middle point.

![screen shot 2018-07-30 at 5 55 50 am](https://user-images.githubusercontent.com/15064365/43390882-49d36470-93bd-11e8-871e-ca8fd855d2d2.png)

If you'r

[2018-07-30 14:42] michaelbabyn opened #1082 "mpl_to_plotly doesn't convert negative values properly in bar graph"
Bar graphs with negative values created in matplotlib are not converted properly by mpl_to_plotly as all negative values are turned positive.

From [this](https://community.plot.ly/t/matplotlib-bar-chart-wont-plot-negative-numbers/2137) community post.

[code]

[2018-07-30 20:35] notagadget opened #1083 "Histogram tick labels are offset"
I noticed on the Histogram example, as well as in my own work, that the tick labels on some histograms are not in line with the values they represent. For instance, if you look at the ["Styled Histogram" example](https://plot.ly/python/histograms/#styled-histogram), the '0' marker is to the left of the bar for the '0' results.

[2018-07-30 21:02] moorepants commented on #1080
Thanks, that fixes it!

[2018-07-31 10:13] rickantonais opened #1084 "Annotations issues on distplots with plotly 3.1.0"
Hello, I've had a new computer at work so I had to reinstall all packages and so on to get plotly and re-use my work I've done before,

I just noticed that when I wanted to add 1 notation, it did work, but when I wanted to add multiple notations (2 in my case), it didn't appear at all.

Here is how I did code in python 3:
[code]

in version 3.1.0, it didn't show any annotations and didn't mirror m

[2018-07-31 11:44] jonmmease commented on #1084
Hi @rickantonais , Thanks for taking the time to let us know.  I believe this is a duplicate of https://github.com/plotly/plotly.py/issues/1072. In version 3 there's a problem using `.update` to initialize an array property (like `layout.annotations`).

Until a fix is out you can use property assignment to make the update the annotations. For example:

[code]

Or you can downgrade back to version

[2018-07-31 11:44] #1084 closed

[2018-08-01 02:37] ivirshup opened #1085 "Color scale doesn't show up for Lines on Scatter3d plots"
The option `showscale` for `plotly.graph_objects.scatter3d.Line` doesn't make a color scale appear, or seem to do anything. Here's an example:

[code]

<img width="487" alt="screen shot 2018-08-01 at 12 32 20 pm" src="https://user-images.githubusercontent.com/8238804/43497734-08577e66-9587-11e8-803a-437200a95a98.png">

While, for the equivalent marker plot:

[code]

<img width="489" alt="screen sh

[2018-08-01 04:21] ivirshup opened #1086 "Zoom not working well on Scatter3d plots with FigureWidgets"
Trying to zoom using the mouse wheel on a Scatter3d plot shown via FigureWidget makes the plot stutter more than zoom. Here's an example:

![weird_figure_widget_zoom](https://user-images.githubusercontent.com/8238804/43499280-1422479c-958e-11e8-8ee0-74371fab3ffa.gif)

I get this effect while running `plotly.py v3.1.0` on both Safari and Chrome.

[2018-08-01 05:36] ivirshup opened #1087 "ColorScaleValidator should probably return a string when it's specified as a string."
Currently, color scale attributes have a kinda weird behavior:

[code]
[code]

This is unlike the behavior (to the best of my knowledge) for other attributes specified as strings:

[code]
[code]

And this is pretty unintuitive behavior when doing stuff like:

[code]
[code]

Though `.update(marker1)` does work for some reason.

My guess is all that needs to happen is to add an `elif isinstance(v, s

[2018-08-01 10:04] jonmmease commented on #1086
Thanks for the report @ivirshup ,

When I test this the zoom works as it should when zooming by clicking and dragging up and down, but I get the same stutter you're seeing if I use a wheel zoom.

I can also confirm that this isn't a problem if the plot is displayed using `iplot`.

#### Technical notes:
Plotly.js emits a relayout event at the end of a drag zoom. This event is sent to the Python sid

[2018-08-01 10:06] jonmmease commented on #1087
Thanks for the report @ivirshup . Yeah, this is definitely an oversight. You're proposed fix should take care of it.  Feel free to submit a PR, otherwise we'll get to in the next few weeks. Thanks!

[2018-08-01 16:14] prashast opened #1088 "Creating boxplots as subplots"
I wanted to create multiple box plots as subplots in plotly. However, since
each individual boxplot is not a single trace but instead a list of traces, I
can not see a clear way of creating multiple boxplots as subplots since `trace_append`
takes a single trace as an argument instead of a list of traces which is how a boxplot
is created.

Based on information here https://community.plot.ly/t/addin

[2018-08-01 16:45] prashast commented on #1088
Nevermind, the above method worked. I had committed a snafu on my end. Thanks for such an awesome plotting library!

[2018-08-01 16:45] #1088 closed

[2018-08-02 04:50] ivirshup commented on #1085
Just in case anyone else comes across this bug, here's the workaround I'm using:

<details>

[code]

</details>

[2018-08-02 10:25] jonmmease commented on #1052
Hi @JavascriptMick ,

I'd rather people not get in the habit of using the `_data` property for performance reasons because that will mess up the synchronization of the new `FigureWidget` class.

What do you think of the proposal in #1079 ? If this were implemented you could request that the figure factory return a `dict`, and then you could make modifications to the `dict` before converting it to

[2018-08-03 21:28] mprogram opened #1090 "Typo in `specs/ipyplotly_integration/Scatter GL Example.ipynb` input 5: needs f -> fig"
Apparently, `specs/ipyplotly_integration/Scatter GL Example.ipynb` has a typo; to correct: f -> fig in input 5. ~Please, add missing file `specs/ipyplotly_integration/biblio.bib` too to avoid 404 errors there.~ _(EDIT: my oversight with `latex_envs` upon saving the notebook)_

[2018-08-04 03:48] timkpaine commented on #1071
Hm, I'm getting different behavior when I return plotlywidget vs when I call `iplot` for the [cufflinks port to 3.0](https://github.com/santosjorge/cufflinks/pull/122). Let me double check

[2018-08-04 10:38] jonmmease commented on #1090
Hi @mprogram , thanks for bringing this up. I've actually been meaning to delete these notebooks. Most have been improved and moved to https://github.com/jonmmease/plotly_ipywidget_notebooks. When I remove this directory I'll go ahead and fix this error and add the ScatterGL notebook to this repo.

Also, I don't know what you mean by `biblio.bib` being missing. Could you elaborate?

[2018-08-04 10:42] jonmmease commented on #1051
I'm going to close this for now since I don't think it's something we can fix in plotly.py. I'd recommend filing an issue on the nteract side. Feel free to reopen if it turns out there is something we can do.
Thanks

[2018-08-04 10:42] #1051 closed

[2018-08-04 11:25] jonmmease commented on #1055
Tracking these two issues in:
 - https://github.com/plotly/plotly.js/issues/2871
 - https://github.com/plotly/plotly.js/issues/2872

Thanks again for taking the time to make this detailed report!

[2018-08-04 11:32] jonmmease commented on #1082
Thanks for the report and example @michaelbabyn !

[2018-08-04 12:55] jonmmease commented on #1083
Hi @notagadget ,

I think what you're seeing is that the `xbins` values specified to the `histogram` trace represent the *edges* of the bins, not the centers of the bins.

The example you linked to has this `xbins` definition
[code]

This means that the bin edges will be at -4, -3.5, 3, etc.  So the bin centers are at -3.75, -3.25, -2.75, etc.  Plotly.js places the bars (or bar group in this case)

[2018-08-04 12:55] #1083 closed

[2018-08-04 12:56] jonmmease commented on #1071
Ok, just let us know

[2018-08-04 13:07] jonmmease commented on #1043
Hi @mchels ,

Yeah, I don't see any reason why resizing shouldn't be supported when `include_plotlyjs` is `False`.

Thanks for bringing it up, and for the helpful background research.

[2018-08-04 13:09] jonmmease commented on #1041
Going to close this, as I believe it was sufficiently addressed prior to the release of version 3.0.0. We can reopen or create a new issue if there are any other outstanding issues.

[2018-08-04 13:09] #1041 closed

[2018-08-04 13:13] jonmmease commented on #1038
Thanks for bringing this up @aberndsen , and for diagnosing the issue.

Yeah, the `create_violin` figure factory should check to make sure it's dependencies are available and say something helpful if not.

As a side note, in case you weren't aware, Plotly now has a first class violin trace (https://plot.ly/python/violin/) that's more flexible than the legacy figure factory approach here.

[2018-08-04 13:29] jonmmease commented on #1031
Thanks for the report @oiegorov,

I think this is the same issue that was brought up in the forums here: https://community.plot.ly/t/domain-issues-with-multiple-subplots/12282/2

With plotly.py version 3 we get a more informative error (instead of the jumbled result you were seeing)

[code]

Looks like a numerical precision error. We probably just need a `min(1.0, val)` somewhere.

[2018-08-04 13:32] jonmmease commented on #1028
Closing because there doens't seem to be a bug. If you have more usage questions please ask on the plotly python forum: https://community.plot.ly/c/api/python

Thanks!

[2018-08-04 13:32] #1028 closed

[2018-08-04 13:41] jonmmease commented on #1036
Hi @rlantz-cfa ,

Thanks for reporting this. I'm not very familiar with the inner workings of the Choropleth trace or how ISO lists work. Could you elaborate on where you think the problem is?

If there's a bug in the plotly trace this would need to be handled by the Plotly.js project first (https://github.com/plotly/plotly.js), so we may want to move the discussion to an issue of there.

[2018-08-04 14:08] mprogram commented on #1090
It seems when I fixed the `f`-typo on my side, my `latex_envs` added non-present in the original ScatterGL notebook file `biblio.bib`. I was referring the ScatterGL example in jupyter-widgets/pythreejs/issues/206 to illustrate that `plotly` is working on my side, and, probably, missed that alteration. Thank you for bringing this to my attention, and sorry for unneeded noise. _Changing the title ba

[2018-08-04 22:59] jonmmease commented on #1082
Cross reference #428

[2018-08-05 04:31] ivirshup opened #1093 "Silent failure to display scatter3d plot in mode lines+markers when line color is given"
In mode `lines+markers`, if a line is specified with color from a numerical vector the plot silently fails. This happens regardless of whether I'm trying to display it in a notebook or write a file. Here's an example:

<img width="852" alt="screen shot 2018-08-05 at 1 39 17 pm" src="https://user-images.githubusercontent.com/8238804/43682321-060668da-98b5-11e8-9b43-0c6d53a99cea.png">

And here's a

[2018-08-05 10:11] jonmmease commented on #1093
Thanks for another helpful report @ivirshup 🙂

I was able to reproduce the issue in Plotly.js directly and I've opened a corresponding issue there. You can follow plotly/plotly.js#2873 for updates.

[2018-08-05 13:59] rlantz-cfa commented on #1036
Sure.  The map data that defines the outline for Somalia does not include the region known as Somaliland.  Somaliland has declared independence, but is not recognized internationally (hence not in the ISO list).  The issue is in the data that is used to define Somalia's boundary.  Either make an addition to the ISO list that plotly references (internally) or fix the bounding points that make up th

[2018-08-07 12:59] jonmmease commented on #1087
Hi @ivirshup ,

I just pushed out release candidates for plotly.py 3.1.1 and plotlywidget 0.2.1.  Installation instructions for the release candidates are at https://github.com/plotly/plotly.py/blob/bc1d4d188ab999cd9c21e3a7908729f156bc200f/README.md.

If you have a chance to confirm that this issue is resolved in the release candidate that would be awesome!

[2018-08-07 13:00] jonmmease commented on #1031
Hi @oiegorov  ,

I just pushed out release candidates for plotly.py 3.1.1 and plotlywidget 0.2.1.  Installation instructions for the release candidates are at https://github.com/plotly/plotly.py/blob/bc1d4d188ab999cd9c21e3a7908729f156bc200f/README.md.

If you have a chance to confirm that this issue is resolved in the release candidate that would be awesome!

[2018-08-07 13:03] jonmmease commented on #1050
Hi @slishak   ,

I just pushed out release candidates for plotly.py 3.1.1 and plotlywidget 0.2.1.  Installation instructions for the release candidates are at https://github.com/plotly/plotly.py/blob/bc1d4d188ab999cd9c21e3a7908729f156bc200f/README.md.

If you have a chance to confirm that this issue is resolved in the release candidate that would be awesome!

[2018-08-07 13:04] jonmmease commented on #1086
Hi @ivirshup   ,

I just pushed out release candidates for plotly.py 3.1.1 and plotlywidget 0.2.1.  Installation instructions for the release candidates are at https://github.com/plotly/plotly.py/blob/bc1d4d188ab999cd9c21e3a7908729f156bc200f/README.md.

If you have a chance to confirm that this issue is resolved in the release candidate that would be awesome!

[2018-08-07 13:04] #1086 closed

[2018-08-07 13:04] #1031 closed

[2018-08-07 13:04] #1072 closed

[2018-08-07 13:57] jsigee87 opened #1097 "Documentation for Using Networkx Outdated"
The example written for using Networkx in Plotly uses an outdated version of Networkx (1.x). There were substantial changes between versions and the example [here](https://plot.ly/python/network-graphs/) no longer works.

In particular, at least these two sections need to be modified- the lists need to be cast as tuples.

[code]
and
[code]

There is also an error in this section that I have not be

[2018-08-07 14:30] jonmmease commented on #1097
Thanks for the report @jsigee87!

Help keeping the docs up to date is always appreciated. Would you mind moving this issue to the documentation repo at https://github.com/plotly/documentation? Thanks!

[2018-08-07 16:20] jonmmease opened #1098 "New module proposal: plotly.io"
## Overview
I propose that we introduce a new module, `plotly.io`, to house a new suite of functions related to the input and output of plotly figure objects.

## Why now?
There are two immediate needs motivating this proposal.

 1. It's time to integrate [orca](https://github.com/plotly/orca) for static image export
 2. For integration with the JupyterLab [plotly-renderer](https://github.com/jupy

[2018-08-07 18:01] nicolaskruchten commented on #1098
Big +1 for the high-level goals and the initiative. The API looks fine to me in principle as well :) I love the harmonization of all of these things.

[2018-08-07 18:45] jackparmer commented on #1098
👍 from me too. Love everything about this. Could really clear up a major source of confusion for Plotly's Python library users. Would love to see a parallel issue for documentation updates.

We should definitely be shooting for this 🌠 - the last frontier for eclipsing some of the legacy technical computing chart libraries 🌑

[2018-08-07 19:32] jonmmease commented on #1098
@jackparmer, two closely related documentation issues are:
 - Version the docs with plotly.py: https://github.com/plotly/documentation/issues/990
 - Port examples to offline: https://github.com/plotly/documentation/issues/992

It will help a lot if we can work out a way to release the docs for each (minor) version. This way the docs don't have to be backwards compatible, and we can update them to

[2018-08-07 21:05] cldougl commented on #1098
@jonmmease

wouldn't minor versions be backwards compatible?

[2018-08-07 22:57] jonmmease commented on #1098
@cldougl
Yes, minor versions of the codebase will be backwards compatible (Code written for 3.1 will work with 3.2). But the documentation should be *forwards* compatible.  For example , the docs for version 3.1 are valid for the code of 3.2, but the 3.2 docs won't necessarily be valid for version 3.1 of the code.

I would like to be able to update the docs with each version to reflect the current

[2018-08-08 06:14] dhirschfeld commented on #1041
Sorry, other priorities got in the way of testing this.

I'm now using plotly 3.1.0 with jupyterlab 0.33.7 and the plot is now automatically resizing which is great!

If I specify the height of the figure the auto-resizing no longer happens - as you mentioned above. I think it would be nice though if only the height is specified for the *width* to continue to automatically resize and vice-versa. i

[2018-08-08 07:27] lihan opened #1099 "Line plot render out of order"
## Steps to reproduce

1. Open https://plot.ly/~lihan3edb/1/#/
2. You should be able to see the orange line (trace 1) drew out of sequential order.
3. If you hide the blue line (trace 0), and only keep the orange line, the line will render correctly.

[2018-08-08 07:31] lihan commented on #1099
Noticed this is probably a Javascript issue, moved to https://github.com/plotly/plotly.js/issues/2883

[2018-08-08 07:31] #1099 closed

[2018-08-08 11:07] nikhase opened #1100 "`tickmode` set to invalid value in mpltools"
* OS: Ubuntu 16.04
* Python 3.6.6
* plotly version: 3.1.0

As you can convert matplotlib figures to plotly, it should be possible with seaborn figures as well. I tried the following code snipped:

[code]

How the figure looks like:

![image](https://user-images.githubusercontent.com/18031651/43833681-e5e9da74-9b0b-11e8-87b8-ff1a9c47f188.png)

This results in the following error:
[code]
I am prepar

[2018-08-08 11:16] nikhase commented on #1100
I created a PR. However, I did not manage to run the test suite on my laptop.

Exported from `plotly.offline`, the xticklabels are not preserved.

![image](https://user-images.githubusercontent.com/18031651/43834033-0575b1c8-9b0d-11e8-9699-28b117eec7d6.png)

[2018-08-08 12:43] jonmmease commented on #1100
Thanks for the report and PR @nikhase!  It's fine to let the automated test suite run the tests.

[2018-08-08 14:57] jsigee87 commented on #1097
I wrote a new one with better formatting and a possible solution to the last error. I'm going to close this one.

[2018-08-08 14:57] #1097 closed

[2018-08-09 10:43] #1100 closed

[2018-08-09 14:49] davhin opened #1102 "WARNING: Too many active WebGL contexts. Oldest context will be lost."
Since a few days and since switching to plotly 3.1.0 / jupyterlab 0.32.1 I have been getting the warning "WARNING: Too many active WebGL contexts. Oldest context will be lost." by Chrome's console if I use the same plotting function more than 16 times in a row. I am plotting a years worth of weekly networks which means 52 plots. This used to work without a problem.
I tried Firefox and Safari as we

[2018-08-09 15:27] malmaud opened #1103 "Add type annotation stubs"
Hi,
I was wondering if you would be interested in PRs that add type annotation stubs for the plotly.py API. That would enable static type checkers like mypy and Pyre to statically type check Python projects using plotly, and as well as enhancing the IDE experience for editors able to offer richer experiences from type annotations (just as VSCode and PyCharM).

[2018-08-09 15:39] vlizanae opened #1104 "Multiple axis support in version 3"
When I try to add another yaxis to the layout imperatively, the traces in the original yaxis seem to dissapear, here's a minimal example:

[code]

I'm not so comfortable with `fig.layout['yaxis2'] = go.layout.YAxis()` also, it might be the root of the issue. Maybe a method to add an axis would be nice.
I'm loving version 3 btw.

[2018-08-09 15:47] jonmmease commented on #1103
Hi @malmaud, I would love to do this... but we still support Python 2.7.

That said, in all of our new generated code we use numpydoc docstrings with return types (see, for example, `plotly/graph_objs/_bar.py`). This is enough for PyCharm to figure things out (I haven't really tested other editors very much) and it does provide a nice experience when working with objects in the `graph_objs` hierar

[2018-08-09 15:51] malmaud commented on #1103
Great to hear that. The stubs can live in separate files that sit parallel
to the original Python source files, which preserves Python 2
compatibility.

I recently went through this with the Visdom project. See the
`__init__.pyi` file in
https://github.com/facebookresearch/visdom/tree/17f28cb258ad874d6fc5fcce5a4479abe4377738/py/visdom,
which lives alongside the `__init__.py` that it annotates.

Th

[2018-08-09 16:41] empet commented on #1104
@vlizanae, After  `fig.add_trace(trace2)` just update the `fig.layout` as follows:

`fig.layout.update(yaxis2=dict(side='right'))`
Now both `fig.data` and `fig.layout` are well defined, but the bar trace isn't displayed.
I tried the "classical" definition:
[code]
Even in this case the bar doesn't appear!!!

[2018-08-09 20:02] vlizanae commented on #1104
I tried the old way with offline, Figure and the declarative mode and still won't show it.

I'm using plotly 3.1.0 on python 3.6.6

[2018-08-10 10:17] jonmmease commented on #1102
Hi @davhin, Thanks for the report.

Just to clarify, each call to the plotting function generates 52 plots and after 16 calls (52*16=832 total plots) you start getting the warning?

Are your 52 plots all individual figures (not subplots within a single `Figure`)?

Which trace type(s) are you using (`scattergl`, `scatter3d`, etc.)?

How are you displaying the plots in the notebook ('plotly.iplot',

[2018-08-10 10:28] jonmmease commented on #1103
That looks really interesting. I don't see any downside to adding these to at least the code generation output, because that would automatically stay up to date (and this covers the majority of the public API).

What has your experience been like keeping these up to date as a codebase evolves (for the human generated code 🙂)? What kind of tooling/testing would you recommend to that help flag incon

[2018-08-10 10:39] jonmmease commented on #1104
Hi @vlizanae ,
It looks like you need to add the `overlaying='y1'` option to `yaxis2`

[code]
![newplot-5](https://user-images.githubusercontent.com/15064365/43953706-d286d588-9c67-11e8-80a7-ebfb4a82f909.png)
See also the examples at https://plot.ly/python/multiple-axes/

[2018-08-10 11:37] davhin commented on #1102
I used to be able to use the same Scatter3d plotting function at least 52 times in a for loop, now the max is 16 without fail. Each call generates a single Figure object. This seems to be exclusive to Scatter3d as well, since I found that the other plots still work the same. When I do this:

`keys = Data.networks['immune'].keys()
keys = list(keys)

for key in keys:
    print(key)
    nw = Data.net

[2018-08-10 11:59] #1104 closed

[2018-08-10 12:04] vlizanae commented on #1104
Thank you!

[2018-08-10 12:09] jonmmease commented on #1102
Thanks for the info. Are you trying to view all 52 as separate figures simultaneously? If so, I'm not sure how this could have ever worked given that Chrome has a max of 16 total webGL contexts available.

The issue in plotly/plotly.js#2423 is that the only one Figure was being displayed at a time, but the contexts aren't always being freed right away.

Could you gin up a simple notebook that repr

[2018-08-10 12:41] davhin commented on #1102
Yes, I am attempting to view them all simultaneously. I originally also thought this might be an issue with the new Chrome build 68 released a few days ago but found that the limitation had always been there, at least for longer than I have been using plotly in that manner.

I will set up a notebook that reproduces this over the weekend, Sunday at the latest. Currently I am at work and this happen

[2018-08-10 14:33] JermellBeane commented on #209
the fix is to localize to UTC, convert to your user's tz, then remove the tz_info

worked for me something like:

`df['formatted_time'] = pd.to_datetime(df["time"], unit='ms').dt.tz_localize('UTC').dt.tz_convert(timezone(user_tz)).dt.tz_localize(None)`

[2018-08-10 14:51] jonmmease opened #1105 "Orca integration for static image export"
## Overview
This is design proposal for the integration of orca into plotly.py in order to support the programmatic export of high quality static images.

## Related issues:
 - https://github.com/plotly/plotly.py/issues/880
 - https://github.com/plotly/plotly.py/issues/596
 - https://github.com/plotly/plotly.py/issues/564

## Background
The programmatic export of static raster and vector images fr

[2018-08-10 15:13] nicolaskruchten commented on #1105
Thanks for the writeup! I'll think about things a bit more deeply but one idea that came up while reading was what about baking something into the Jupyter ecosystem? Like a special kernel or something whose lifecycle could be managed by Jupyter?

[2018-08-10 15:53] etpinard commented on #1105
A potential variant of 2 (Use CLI with figure as tmp file) as first wrote down in https://github.com/plotly/orca/issues/110#issuecomment-411403770, would be a "batch" mode where multiple temp JSON files are saved and then exported at once using

[code]

which I think could be useful for folks writing scripts (not so much for Jupyter Notebook users I guess).

[2018-08-10 16:07] jonmmease commented on #1105
@etpinard Yeah, if we go with 2, I was picturing some kind of batch context manager API.

[code]

[2018-08-10 19:04] kamal264 commented on #932
Hi ,
I am also looking for similar functionality in python-django.
I am working on finance application in django and using plotly to draw stock price.
And want to enable auto range for y-axis else graph is not making any sense in my scenario.
![image](https://user-images.githubusercontent.com/8677429/43976401-0cbe9998-9cfe-11e8-94cc-ec25847da448.png)

After narrowing x-axis range- not able to anal

[2018-08-13 06:02] zhonon opened #1106 "Ploty image.save.as can't complete display Chinese"
when i use plotly func
    plotly.plotly.image.save_as(self.fig, filename=filepath + '.png')

there is problem，it cannot complete display ,not only  Traditional-Chinese  but also Simplified -Chinese，and Simplified -Chinese is  more serious,  i think the problem is on unicode,but i can't find where to change it .

   plotly.plotly.image.save_as(self.fig, filename=filepath + '.png')
        self.fig

[2018-08-13 10:08] jonmmease commented on #1106
Hi @zhonon , thanks for the report, I can see what you mean.

Here's the full example I used:

[code]

![plot](https://user-images.githubusercontent.com/15064365/44025120-3623cf7c-9ebd-11e8-9a3d-bfdf23daeeec.png)

The good news is that when I test this using an early prototype version of our coming [Orca integration for static image export](https://github.com/plotly/plotly.py/issues/1105) it works

[2018-08-13 15:47] zhonon commented on #1106
thinks for you Answer。
so,there is no others way to solve this ?
i just want use this image in Email.
and solve this as simple as possible.

[2018-08-13 15:51] jonmmease commented on #1106
Have you tried displaying the figure and then saving it from the save
button on the toolbar?
(I'm on my phone so I can't test it right now)

On Mon, Aug 13, 2018, 11:47 AM zhonon <notifications@github.com> wrote:

[2018-08-13 15:56] zhonon commented on #1106
i have try Method on
https://plot.ly/python/email-reports/
but i only can get this. so it's has no updata for a years
![image](https://user-images.githubusercontent.com/26518173/44043008-5c553f18-9f54-11e8-9f21-50aaa8fe2313.png)

[2018-08-13 17:53] scjody commented on #1022
Just a reminder that this repo still uses CircleCI 1.0, which will no longer be available as of the end of August, so if you want to keep using CircleCI (which I strongly recommend), you need to transition to 2.0 **before August 31**. You can contact erin@circleci.com for help with this if necessary.

I'm tagging everyone at or affiliated with Plotly who's contributed to this repo in the past mont

[2018-08-13 20:10] APlowman opened #1107 "Specifying dash length list no longer works"
In plotly.py 3.x, I can no longer specify a dashed line by specifying a string of dash lengths. Before updating to version 3, I could do this.

From the [docs ](https://plot.ly/python/reference/#scatter-line-dash) for `scatter -> line -> dash`:

The latter option no longer appears to be valid, yielding a `ValueError`. For example, the following does not work (tested in a Jupyter notebook):

[code]

[2018-08-13 21:01] Kully opened #1108 "stream.write raises error in plotly 3.1.0"
A simple streaming example that was working in Plotly 2.2 now does not work in 3.1.0+

[code]

results in the validation error

[code]

Changing `m = stream.write(dict(x=[i+2], y=[5]))` to `m = stream.write(Bar(x=[i+2], y=[5]))` bypasses the problem, allowing the script to run and print the statements. But the figure is not appending to its data, but replacing each Bar trace that is added as evide

[2018-08-14 08:42] davhin commented on #1102
I am a bit swamped at the moment but I will get this done before the week ends. Sorry for the delay.

[2018-08-14 10:57] jonmmease commented on #1106
Hi @zhonon ,

Here's what I mean about using the toolbar to save the image.  Display the plot using one of the `plot` or `iplot` methods. Here I'll use `plotly.plotly.plot`.

[code]

This will open the plot in a new browser tab.  Then click the camera button in the toolbar to download the plot as a .png.

Here's a screen capture of the process:

![saveimagetoolbar](https://user-images.githubuserco

[2018-08-14 11:06] jonmmease commented on #1107
Hi @APlowman , thanks for the report!

I just opened an associated issue on the Plotly.js project to work out how we should handle this case. Check it out if you're interested in what went wronge here: https://github.com/plotly/plotly.js/issues/2903

[2018-08-14 12:07] jonmmease commented on #1108
In 3.1.1 I made a change allowing the `'type'` property of a trace to be set as long as it's set to the correct value.  When I try this example on master I get a different error.

[code]

This error can be fixed by converting the trace to a dict before removing the `'type'` key. But as you observed, even in this case the data is replaced, not appended to on each write.

The reason that the data is

[2018-08-14 18:43] malmaud commented on #1103
Well, I won't exaggerate - I became excited about static type checking for Python and started using it for my own research code, but I don't have have direct experience applying it to large multi-developer codebases. I'd look forward to trying and learning, however.

In terms of help from tooling, the only thing I know of is https://github.com/Instagram/MonkeyType. It attempts to produce stubs aut

[2018-08-14 20:59] vlizanae opened #1111 "Add informative error message when FigureWidget not available due to missing dependencies"
I'm running an alpine python3 container and for some reason FigureWidget is not available. Jupyter is not installed because it's meant to be a Dash app, are there any dependencies I might have overlooked?
![screenshot from 2018-08-14 17-56-03](https://user-images.githubusercontent.com/31910455/44118202-ba01f8c6-9feb-11e8-8f70-547b4c572d75.png)

[2018-08-14 21:30] sursu opened #1112 "Legend order"
[Distplots](https://plot.ly/python/distplot/)

Wouldn't if make more sense to have the legends appear in the same order as the series appear in the `hist_data`?

[2018-08-14 21:53] empet commented on #1112
@sursu Depends on whether the user is left or right-handed. If you want the normal order, just update
the `fig.layout`, before plotting:

`fig.layout.legend=dict(traceorder='normal')`

[2018-08-14 22:08] #1112 closed

[2018-08-14 23:56] jonmmease commented on #1105
Thanks for chiming in @malmaud!  Yeah, I do want to get as close as possible to the `imsave` experience with this.

I'm torn regarding whether or not to auto shutdown the orca server. In my latest testing, on OS X, an orca server process that hasn't done any work yet consumes around 120MB of ram across three process (And there's nothing we can do to shrink this any further given its built on elect

[2018-08-15 10:16] jonmmease commented on #1103
If you're interested in digging in, I'd like to start by adding stub generation to the `graph_obj` code generation logic.  The current logic is in `codegen/datatypes.py`.  As I said, this is the majority of the public API, and we can keep it correct for free.

Once we have this, I'd like to do a bit of an editor survey to get a full list of the Python editors that support completion across the ful

[2018-08-15 10:28] jonmmease commented on #1107
Ok, looks like we'll handle this by introducing a custom `LineDash` validator class.

[2018-08-15 10:33] jonmmease commented on #1111
Hi @vlizanae ,

The `FigureWidget` class won't be available unless `ipywidgets` is installed. If you're making a Dash app, then you'll want to use the `graph_objs.Figure` class instead of `FigureWidget`.  `FigureWidget` is essentially a subclass of `Figure` with extra logic and dependencies for integrating with the Jupyter Notebook.

Thanks for reporting this because it reminds me that it would be

[2018-08-15 10:54] jackparmer commented on #1105
+1 from me

[2018-08-15 12:42] jonmmease opened #1113 "Testing wishlist"
This issue is to discuss ideas and plans for improving testing for plotly.py.  I started thinking about this more while working on the CircleCI 2.0 migration in https://github.com/plotly/plotly.py/pull/1109.

In no particular order:
 - Migrate to pytest
   + parameterization and lightweight fixtures are really useful, and pytest is already in use for the validator tests in `_plotly_utils/tests`

[2018-08-15 13:54] malmaud commented on #1103
Sounds great.

I should mention that there's a formalized generalization of PyCharm's docstring-aware approach whereby type annotations can be encoded into strings and put as comments inline with a source file, instead of as a separate stub (https://www.python.org/dev/peps/pep-0484/#suggested-syntax-for-python-2-7-and-straddling-code). I personally feel this is less elegant than separate stubs tha

[2018-08-15 14:10] vlizanae commented on #1111
sure, thank you!

[2018-08-15 14:21] jonmmease opened #1114 "Selective retry v2 API requests"
In version 3 we introduced automatic retrying logic for all v2 REST API calls to plot.ly.  This has improved the reliability and reduced the incidence of failures do to intermittent server connectivity issues.

But, we're currently retrying on all requests, even cases where there's really no point (e.g. an error due to an invalid figure URL isn't going to go away by retrying many times).

As a sta

[2018-08-15 14:57] mmlanger opened #1115 "Feature request: zsmooth parameter for Heatmapgl"
(First of all: FigureWidget + jupyterlab is just awesome, please continue!)
the zsmooth seems to not be implemented in `Heatmapgl` , while it is in `Heatmap`.

Could you add this in the future?
By default `Heatmapgl` seems to use interpolation while I do like to turn it off.

[2018-08-15 17:58] tarzzz opened #1116 "FIgureWidget not working with nbviewer"
Example Notebook: http://nbviewer.jupyter.org/gist/tarzzz/7aa6eb0673d5b11b55748c1dd9f74537#

The Plot is not displayed when the chart is viewed on nbviewer (or as the HTML version).
Not sure if this is a bug, or if it is not intended to work in static views.

cc: @jonmmease

[2018-08-15 18:29] empet commented on #1116
@tarzz  On my machine it works with both Python 2.7.13 and Plotly 3.1.0, respectively  Python 3.6.4 and Plotly 3.1.1.

[2018-08-15 18:54] tarzzz commented on #1116
@empet It works on my machine, but not on the external/HTML viewers (like nbviewer.jupyter.org).

[2018-08-15 19:08] empet commented on #1116
@tarzz
Is the notebook version >=5.3?  This is a requirement.

[2018-08-15 21:39] empet commented on #1116
@tarzz  In a comment to this issue [https://github.com/jupyter-widgets/ipywidgets/issues/2063](https://github.com/jupyter-widgets/ipywidgets/issues/2063) is suggested how to get the widgets displayed in nbviewer.
I followed the steps explained here: [https://ipywidgets.readthedocs.io/en/latest/embedding.html#embedding-widgets-in-html-web-pages](https://ipywidgets.readthedocs.io/en/latest/embedding

[2018-08-15 22:34] jonmmease commented on #1116
The behavior I'm seeing is that the figure axes are being displayed, but not the data. Is that what you're both seeing?

I think this is an issue related to the way that numpy arrays are encoded as binary buffers.  These buffers are stored as JavaScript TypedArrays in the JavaScript widget model. And when the buffers are saved (through the "Save notebook widget state" process), and then restored (

[2018-08-16 13:07] empet commented on #1116
Hi @tarzz and @jonmmease,

I converted the `np.arrays`, x and  y, to `list` and now the `FigureWidget` is displayed, but after selection, the selected points don't get red: [http://nbviewer.jupyter.org/gist/empet/f6a363e1d0140e69f5e9139bb742849f](http://nbviewer.jupyter.org/gist/empet/f6a363e1d0140e69f5e9139bb742849f)

[2018-08-16 14:56] tarzzz commented on #1116
@empet :

Selections will not work on nbviewer (or Plotly Cloud) because they need to interact with Jupyter Kernel to work, whereas nbviewer only offers static/HTML views.

[2018-08-16 15:05] jonmmease commented on #1116
See https://github.com/plotly/plotly.js/pull/2911 for a proposed solution

[2018-08-16 16:01] maartenbreddels commented on #1116
Make sure you have a custom serializer, take a look at for instance ipyvolume's ScatterModel. In the end the typed array will be converted to sth like `{dtype: 'float64', value: at.buffer, shape: [ar.lenght]}` ( it should be the inverse of the deserializer).

[2018-08-16 22:45] jonmmease commented on #1116
Thanks @maartenbreddels !  That's what I was missing.

@tarzzz , it looks like I should be able to fix this in the widget library without needing a change to Plotly.js after all (I'm still going to work on that Plotly.js change for other reasons, but I don't think it's critical for getting this working now).

[2018-08-17 12:00] jonmmease commented on #1041
Thanks for the suggestion @dhirschfeld.  The width resizing with fixed height is being implemented in #1117

[2018-08-17 14:06] RafalSkolasinski commented on #766
I just noticed also a weird behaviour with ``update`` and ``annotations``.
More specifically when updating the ``layout`` without ``annotations`` it does not add it.
This simple code illustrates what I mean:
[code]

It seems to be inconsistent with [tutorial](https://plot.ly/python/user-guide/).

[2018-08-17 22:06] crgboud commented on #805
I am still able to reproduce this error on plotly 3.1.0 with the following code:

[code]

[2018-08-18 03:33] jlh2018 opened #1118 "plotly does not work well with jupyter notebook"
I am using Python 3.6.3 on macos 10.13.6 (17G65) with jupyter 4.3.0

plotly.__version__ is '3.1.1'.

when I run the code from plotly tutorial , I got nothing. after relaunch jupyter, I got an plot with following warning.

`404 GET /nbextensions/widgets/notebook/js/extension.js?v=20180818112248 (::1) 19.03ms ...
`

code from the [plotly tutorial](https://plot.ly/python/getting-started/)
[code]

[2018-08-18 09:57] jonmmease commented on #1115
Hi @mmlanger , glad you're enjoying the new workflow, thanks for letting us know 🙂

Could you create a corresponding issue for the [Plotly.js library](https://github.com/plotly/plotly.js)? Any changes in trace options or behaviors have to flow through that library first.  Once you do, just post another comment here with the link to the Plotly.js issue.

Thanks!

[2018-08-18 09:58] jonmmease commented on #1116
Done in #1117

[2018-08-18 09:58] #1116 closed

[2018-08-18 10:02] jonmmease commented on #1118
Hi @jlh2018 ,  Thanks for letting us know.

Are you working in the classic jupyter notebook or JupyterLab?  In either case make sure your installed versions match those in the [installation instructions in the README](https://github.com/plotly/plotly.py).

In particular, the version of jupyter notebook should be 5.3 or later.

[2018-08-18 10:04] empet opened #1119 "Not only plotlywidgets, but also the ipywidgets are not rendered in Plotly cloud"
Not only plotlywidgets that use `np.array`(s), but also the  `ipywidgets` widgets (sliders, text boxes, and more) are  not rendered  in Plotly cloud.

Here are pairs of identical notebooks posted on:

github: [http://nbviewer.jupyter.org/gist/empet/aabb4e6be803cbe0f7b379a0e9375a5d](http://nbviewer.jupyter.org/gist/empet/aabb4e6be803cbe0f7b379a0e9375a5d)
Plotly cloud: [https://plot.ly/~empet/14914]

[2018-08-18 10:05] mmlanger commented on #1115
Here goes the plotly.js issue:
https://github.com/plotly/plotly.js/issues/2924

Thanks for your response!

[2018-08-18 13:54] rodneyweast commented on #553
This does not work anymore,  If I reverse the order with the range, I get the same plot as when they are in the regular order.  [14,0] gives the same result as [0,14] . It looks like the code has changed over the year...

[2018-08-19 17:36] chubukov opened #1121 "floating point math bug in make_subplots"
[code]
<stacktrace snipped,>

plotly version 3.0.0rc11
happens with python 3.5.4 and python 3.6.3

curiously, n=100 works fine! But most other values >40 fail for me

[2018-08-20 10:27] jonmmease commented on #1119
I *think* the plotly cloud support for this is still in development (not yet deployed).
Is that right @tarzzz ?

[2018-08-20 13:46] tarzzz commented on #1119
That's correct. I will keep you posted.

[2018-08-20 19:42] andy-lz opened #1122 "Annotated Heatmap with custom color scale raises ValueError"
Creating an annotated heatmap with figure factory using a custom color scale (as seen below) leads to a ValueError: "map object not subscriptable."

`import plotly.figure_factory as ff`
` `
`data_test2 = ff.create_annotated_heatmap(z=z, x=x, y=y, colorscale=[[0.0, 'rgb(250,0,0)'], [0.5, 'rgb(250,250,250)'], [1.0, 'rgb(0,0,0)']], annotation_text=df_str, showscale=True)`

I fixed this by explicitly

[2018-08-20 20:42] priyatharsan opened #1123 "Rendering of Matplotlib linestyle=':' needs to be updated in par with 'dash' property"
Code sample:
[code]

The error message is:
[code]

[2018-08-21 05:04] bharath5673 commented on #860
I had the same issue :(

[2018-08-21 09:14] MichaelHalfon opened #1124 "truncate legends"
Hello,

I was just wondering if it was possible to truncate legends if the text is too long ? If not, would it be possible to do with the current implementation of the API ?

Regards,

Michael

[2018-08-21 11:58] MichaelHalfon commented on #1124
Thank you, I was not aware that the multiline was possible for the trace name !! This has been really helpful

[2018-08-21 11:58] #1124 closed

[2018-08-21 14:17] chubukov commented on #1121
@jonmmease Yep, seems to be fixed. Thanks.

[2018-08-21 14:17] #1121 closed

[2018-08-21 14:37] timkpaine opened #1125 "annotations deprecated, but not in right place"
Contradictory errors:
[code]

[code]

[2018-08-21 15:41] timkpaine commented on #1071
@jonmmease  repro code (from cufflinks quantfig):

[code]

[2018-08-21 15:41] timkpaine commented on #1071
this one actually won't plot with ploy either

[2018-08-21 15:51] timkpaine commented on #1071
@jonmmease here is a repro, iplot doesn't work but FigureWidget does:

[code]

[2018-08-21 22:30] jonmmease commented on #1071
Hi @timkpaine , thanks for the example code.

This is what I see when I run it (plotly 3.1.1, notebook 5.6.0, plotlywidget 0.2.1):

![screen shot 2018-08-21 at 6 24 53 pm](https://user-images.githubusercontent.com/15064365/44432366-caf7f200-a56f-11e8-89a6-febbe787a3c4.png)

Could you explain what difference you're seeing on your end?

[2018-08-21 22:50] timkpaine commented on #1071
From jupyterlab?

[2018-08-21 23:11] timkpaine commented on #1071
I only see the second chart, and a host of js errors:

plotly 3.1.1, notebook 5.6.0, plotlywidget 0.2.2, jupyterlab 0.34.0

[2018-08-21 23:11] jonmmease commented on #1071
Yes, it works for me in JupyterLab as well.

For JupyterLab you need to have the `@jupyterlab/plotly-extension` JupyterLab extension installed in order to use `offline.iplot` (and in JupyterLab the `init_notebook_mode` call isn't needed). Double check the versions of everything in the [README](https://github.com/plotly/plotly.py)

[2018-08-21 23:13] #1071 closed, assigned to nobody

[2018-08-22 08:46] sursu commented on #515
Any progress? Is anyone working on this issue?

[2018-08-22 09:35] jonmmease commented on #1122
Thanks for the report @andy-lz . Could you add a quick example that results in this error?
Thanks!

[2018-08-22 09:48] jonmmease commented on #515
Hi @sursu ,

I haven't started digging into this yet, but I definitely agree with everyone that it's very important.

One bit of good news is that Mathjax/latex support is already working in the [new offline static image export feature](https://github.com/plotly/plotly.py/pull/1120) that is coming in version 3.2.  So the publication use-case should finally be covered!

[2018-08-22 18:38] Juanlu001 commented on #1006
The situation has considerably improved now, so this issue makes no sense anymore. Thanks and keep up with the great work!

[2018-08-22 18:38] #1006 closed

[2018-08-22 18:46] jonmmease commented on #1006
Thanks for following up @Juanlu001 ! I'm glad you've noticed the improvement 🙂

[2018-08-22 19:30] empet opened #1127 "The node size in scatter plots generated via plotly 3.1 is shrinked in nbviewer"
In the local notebook rendered here: [http://nbviewer.jupyter.org/github/empet/plotly-kmapper/blob/master/cat-experiments.ipynb](http://nbviewer.jupyter.org/github/empet/plotly-kmapper/blob/master/cat-experiments.ipynb)
all node sizes look like in the gif file inserted in the last  cell, but when I open it in nbviewer the size is less than half of the set size.

[2018-08-22 22:13] priyatharsan opened #1128 "Matplotlib Figure object not supporting 'validate' and 'strip_style'"
Matplotlib `Figure` object is not supporting `validate` method
https://github.com/plotly/plotly.py/blob/dbe8adb18a59cf7b57bbcb6d60841881da860518/plotly/plotly/plotly.py#L282

Sample Code:
[code]

Error:
[code]
And for `strip_style` https://github.com/plotly/plotly.py/blob/dbe8adb18a59cf7b57bbcb6d60841881da860518/plotly/plotly/plotly.py#L257

Sample Code:
[code]

Error:
[code]

[2018-08-23 01:01] empet commented on #1127
Solved! The marker size was defined as a `np.array`. Converted it to list and it's OK.

[2018-08-23 01:01] #1127 closed

[2018-08-23 07:59] imscaradh opened #1129 "Plotly stream + corporate proxy with basic auth"
I am trying to use Plotly streaming functionality behind a corporate proxy with basic auth. Despite the comprehensible instructions at https://plot.ly/python/proxy-configuration/ I didn't get Plotly up and running. After digging around in my system configuration I noticed that only proxy servername and port is respected while setting up the http tunnel:

https://github.com/plotly/plotly.py/blob/db

[2018-08-23 08:08] jvalhondo commented on #841
Seems this issue is fixed and the tags are pushed.
https://github.com/plotly/plotly.py/tags

I can feel the improvements that are going on, great work! 💪
I'm closing it.

[2018-08-23 08:08] #841 closed

[2018-08-23 08:23] LePuppy opened #1130 "Add helpful error message when adding trace to subplot without using make_subplots"
Hi,
I can't manage to get **subplots** using the **FigureWidget** tool which is really powerful thanks to version 3.0. I can't add traces using fig.add_trace( ) because I can't create the subplots before that. Could someone give simple example that works ?

`trace0 = go.Scatter(
    x=[1, 2, 3],
    y=[2, 3, 4])`
`trace1 = go.Scatter(
    x=[20, 30, 40],
    y=[5, 5, 5])`
`trace2 = go.Scatter(

[2018-08-23 10:19] jonmmease commented on #1129
Hi @imscaradh , thanks for reaching out and I'm glad you got things working.

@scjody do you have any thoughts on this scenario, and whether something in plotly.py should be changed?

[2018-08-23 10:26] jonmmease commented on #1130
Hi @LePuppy ,

To make subplots you need to first construct a figure with `plotly.tools.make_subplots` (See https://plot.ly/python/subplots/).  This will return a (non-widget) Figure instance, but you can convert it to a `FigureWidget` like this:

[code]

Then add traces using `add_trace` with the `row` and `col` parameters. (`append_trace` still works but `add_trace` trace is more flexible so I'd

[2018-08-23 10:28] jonmmease commented on #1130
This is a good reminder that we need to add a helpful error message when someone tries to add a trace to a subplot without creating the figure using `make_subplots`.  The error message should have explained to @LePuppy what they needed to do.

[2018-08-23 12:10] LePuppy commented on #1130
Thank you @jonmmease , this works. While we're at it, how to add some arguments related to the `make_subplots` function ?
Adding titles to axes works with:
`fig.layout.xaxis.update(title='xaxis title')`
`fig.layout.xaxis2.update(title='xaxis2 title')`

`fig.layout.yaxis.update(title='yaxis title)`
`fig.layout.yaxis2.update(title='yaxis2 title)`

Or modifying the figure's dimensions:
`fig.layout.up

[2018-08-23 14:59] rr5577 opened #1131 "Windrose example from plot.ly not working"
I just did a fresh install to try plotly.py and wanted to try the pandas windrose example from the plotly site ( https://plot.ly/pandas/wind-rose-charts/ ).

[code]

but i only get a blank output cell.

if i remove the `barmode="stack"` kwarg, the plot renders, but without data:
![image](https://user-images.githubusercontent.com/31547476/44533132-20114080-a6f5-11e8-9c04-556b419cea24.png)

Plotly V

[2018-08-23 18:02] scjody commented on #1129
@jonmmease It does look like we only use the hostname and port extracted from the `HTTPS_PROXY` or `HTTP_PROXY` environment variable, meaning that any other information (username, password) is ignored.

The hostname and port are extracted in https://github.com/plotly/plotly.py/blob/dbb79e43e2cc6c5762251537d24bad1dab930fff/plotly/plotly/chunked_requests/chunked_request.py#L79-L103 and used here: ht

[2018-08-23 20:11] ch3njust1n opened #1132 "ImportError: No module named offline"
Running a basic example on OSX installed with Anaconda 2.7
[code]
and I keep on getting the following error:
[code]

[2018-08-23 20:26] #1132 closed

[2018-08-24 08:58] imscaradh commented on #1129
Hi @jonmmease , I forked plotly.py and committed my changes here: 4c38dc5e1e2abfa8810fc84073e81477737e2bb5

I'm not sure this is in your interest. If it is, I will be happy to create a PR.

[2018-08-24 09:45] jonmmease commented on #1131
Hi @rr5577 , thanks for taking the time to report this.

Yeah, it looks like the Plotly.js JavaScript library is choking when plotly.py is passed a pandas series or numpy array.  And I can also reproduce you're issue of not being able to update the title properties.

These issues should be addressed when this trace type is replaced with a new trace that uses the Polar 2.0 infrastructure.  See http

[2018-08-24 09:49] jonmmease commented on #1130
Hi @LePuppy ,

The `graph_objs` classes are designed to follow the Plotly.js plot schema as closely as possible. So we won't be able to introduce extra properties there. The general approach that plotly.py takes is to use `make_subplots` (and the `figure_factories` for that matter) to construct more sophisticated combinations of layout and trace properties, but the results of these need to follow

[2018-08-24 09:49] #1130 closed

[2018-08-24 09:56] jonmmease commented on #1129
Hi @imscaradh , these changes look reasonable and generally useful so a PR would be great!

I don't have a way to test it personally, but I'll reach out to some other folks to help out there.

Thanks!

[2018-08-24 11:13] LePuppy commented on #1130
@jonmmease  I noticed I did the wrong thing. I just had to declare arguments **inside** the `make_subplots` function like this:
`fig = go.FigureWidget(make_subplots(rows=2, cols=2, shared_yaxes=True, subplot_titles=('Subplot 1',
                                                                                       'Subplot 2',

[2018-08-24 12:05] jonmmease commented on #1026
Turns out this has been in plotly.py all along, but I just learned about it today 🙂

[code]
Can you confirm that this is what you were looking for?

[2018-08-24 15:10] mwouts commented on #1026
Well, yes, exactly! Thanks @jonmmease, that's exactly what I was searching for.

[2018-08-24 15:10] #1026 closed

[2018-08-25 20:04] davhin commented on #1102
Unfortunately I find myself unable to reproduce the situation that allowed me to plot as many 3DScatter plots as I wanted. I installed a lot of stuff into that environment and only partially tracked them through pipenv.

[2018-08-25 20:04] #1102 closed

[2018-08-27 21:37] andy-lz commented on #1122
Used a modified example from plotly documentation.

[code]

[2018-08-28 12:00] gnthibault commented on #1108
I am also experimenting the very same issue. @Kully workaround worked like a charm also in my case (Scatter instead of Bar). Thank you !

[2018-08-29 03:00] guoyuf opened #1137 "any way for offline static image export?"
HI All,

We'd like to export the ploty image as a background task that run regularly, and I tried the way from https://plot.ly/python/static-image-export/
but however, py.image.save_as method required network connectivity and send the data to the plot.ly and return the image back. offline.plot actually generate the html file, then open it in browser and download the image file.
We want to export t

[2018-08-29 10:30] jonmmease commented on #1137
Hi @guoyuf ,

We've actually been working on this problem a lot lately and we're planning to release a solution in version 3.2. If you're interested in the background, check out https://github.com/plotly/plotly.py/issues/1105 and https://github.com/plotly/plotly.py/pull/1120.

If you'd be willing to help us test out the current alpha version of the static image export approach, we'd really appreci

[2018-08-29 11:13] #1107 closed

[2018-08-29 11:15] jonmmease commented on #1107
Fixed in #1136

[2018-08-29 13:35] nehalecky commented on #841
tags are indeed pushed, that's great. Still, latest release shows up as 2.0.0:

![image](https://user-images.githubusercontent.com/1455590/44791049-c387a880-ab6e-11e8-9fdf-b8acd96d8010.png)

minor, but still annoying, issue

[2018-08-29 13:48] jonmmease commented on #841
Thanks for mentioning that @nehalecky. I've never really paid attention this section in GitHub repos before 🙂

Do you find it helpful to have the info here in addition to the changelog?  One option would be to add dummy release to the top with a link to the changelog.  But it also doesn't look like it would take much work to copy the changelog entries in here during the release process if it's hel

[2018-08-29 15:39] jvalhondo commented on #841
@jonmmease & @nehalecky: I would suggest a similar approach to the pandas python library (which I've also seen in most of the cases)
Here I paste the link to pandas releases: https://github.com/pandas-dev/pandas/releases

[2018-08-29 17:50] jdieg0 opened #1139 "Error bars not scaled correctly in logarithmic 3D plots"
Hi,

generating a ```Scatter``` plot with a logarithmic y axis and given ```error_y``` works fine whereas creating a similar plot with ```Scatter3d``` with error bars results in extremely large error bars. The proportions of the error bars in the 3D plot are correct if ```type='log'``` is omitted.

**Example:**

[code]

**Results:**

2D (```type='log'```)
![example_2d](https://user-images.githubus

[2018-08-29 22:43] jonmmease commented on #1125
Fixed in  #1138

[2018-08-29 22:43] #1125 closed

[2018-08-29 23:46] jonmmease commented on #1106
This use-case is now covered by the orca-based static image export coming in 3.2.0. See https://github.com/plotly/plotly.py/pull/1120

[2018-08-29 23:46] #1106 closed

[2018-08-29 23:46] jonmmease commented on #1105
Merged in https://github.com/plotly/plotly.py/pull/1120

[2018-08-29 23:46] #1105 closed

[2018-08-29 23:49] jonmmease commented on #1098
The beginning of the `plotly.io` module (for image export) was merged in https://github.com/plotly/plotly.py/pull/1120 and will be released in 3.2.0.

So I'm going to remove the 3.2.0 milestone, but leave the issue open until all of our legacy I/O functionality is reproduced in this module.

[2018-08-30 15:30] jasonfghx opened #1141 "question about meaning of z value"
![image](https://user-images.githubusercontent.com/33653097/44861944-3ea2a900-acac-11e8-9e44-6586669f3340.png)

when i plot Histogram2dcontour figure, I see the z value. Does this z value mean a kind of parameter expressing the correlation coefficient? Am I right?
Thanks for answering

[2018-08-30 16:10] empet commented on #1141
@jasonfghx  The `Histogram2dcontour` plot approximates  a bivariate distribution.
For example, if you extract xmin, xmax, respectively ymin, ymax from the lists or np. arrays, x, y,
and theoretically define a meshgrid:
[code]
then in order to get the histogram2d you need to count how many points (x,y) fall in each rectangle defined by this meshgrid. z-values record these number of points.
In your

[2018-08-30 16:19] rmarren1 opened #1142 "`import plotly` crashes when `ipython` is installed for Python3.7"
It looks like this is really a bug in IPython.

When using Python3.7 with
[code]
`import plotly` breaks with the following traceback:

[code]

This is because `async` is a reserved keyword in Python3.7+

[2018-08-30 16:49] #70 closed

[2018-08-30 16:52] chriddyp commented on #452
In case this issue is still coming up in google searches, please check out the new `FigureWidget` support for Jupyter: https://medium.com/@plotlygraphs/introducing-plotly-py-3-0-0-7bb1333f69c6

[2018-08-30 16:52] #452 closed

[2018-08-30 16:54] #600 closed

[2018-08-30 16:54] #490 closed

[2018-08-30 16:55] chriddyp commented on #500
This is possible with the latest `GraphWidget` https://medium.com/@plotlygraphs/introducing-plotly-py-3-0-0-7bb1333f69c6 as well as within Dash - https://dash.plot.ly/interactive-graphing

[2018-08-30 16:55] #500 closed

[2018-08-30 16:56] chriddyp commented on #185
Much better support as part of this 3.0.0 release 😸  https://medium.com/@plotlygraphs/introducing-plotly-py-3-0-0-7bb1333f69c6

[2018-08-30 16:56] #185 closed

[2018-08-30 17:00] chriddyp commented on #529
Tracking in https://github.com/plotly/plotly.js/issues/1382

[2018-08-30 17:00] #529 closed

[2018-08-30 21:02] Kkevsterrr opened #1143 "Links in plotly x-axis labels not working"
I'm trying to add links to each of the labels of the x axis of a heatmap. According to the docs html is respected, but the html data is added as 'data-unformatted'. Am I doing something wrong, or is this actually not supported?
[code]

[2018-08-30 21:07] chriddyp commented on #1142
Looks like it was fixed in the underlying `pexpect` package: https://github.com/pexpect/pexpect/issues/453

[2018-08-31 00:44] jasonfghx commented on #1141
thanks for your kind answer  :)

[2018-08-31 05:32] hassenmorad commented on #931
I'm having this same problem despite updated jupyter notebook & lab. Any suggestions?

[2018-08-31 11:05] jonmmease commented on #1129
Done in #1133. Thanks @imscaradh

[2018-08-31 11:05] #1129 closed

[2018-08-31 11:46] jonmmease commented on #1108
@gnthibault BTW, what is your streaming use case?  The cloud-based streaming is being deprecated, but it is possible to update existing figures using a `FigureWidget` in a notebook or using Dash in the web browser.

At the moment with `FigureWidget` you would need to update all of the data for each update, but I'm interested in adding a more efficient append/stream option in the future

[2018-08-31 12:00] gnthibault commented on #1108
Thanks for enquiring. I finally found what I was looking for. I now use a Dash app, in which some browser-side code triggers a callback at regular interval, that I use to do some query in a database.
It is perfect for the dashboard application I am trying to write.

[2018-08-31 12:01] jonmmease commented on #931
Hi @purvithakor, the issue is that github performs a static render of the notebooks and it doesn't include the embedded HTML/JavaScript that makes up a plotly graph.  See https://help.github.com/articles/working-with-jupyter-notebook-files-on-github/

One nice option is to paste the link to your GitHub notebook into http://nbviewer.jupyter.org/, which will present a rich view of the notebook.

Hop

[2018-08-31 13:17] jonmmease commented on #1142
@rmarren1 what version of `pexpect` ended up installed in your environment?  According to pexpect/pexpect#453 this (or something similar) was fixed in `pexpect` version 4.3

[2018-08-31 13:21] #1137 closed, assigned to nobody

[2018-08-31 13:23] #1114 closed, assigned to nobody

[2018-08-31 18:07] CiaranWelsh opened #1147 "Problems with embedding plotly generated div into django app."
I am using plotly to generate a 3d scatter graph to embed in a django website. I am having a couple of issues - they look buggy but I am unfamiliar with this tool so its also possible I'm just not using correctly.

<h2> The code </h2>

Here's the relevant section of my code. The code simply iterates over a ` pandas.groupby` object to plot experimental factors a different colour.

[code]

<h2> Prob

[2018-09-01 00:09] hassenmorad commented on #931
Thanks, @jonmmease :)

[2018-09-01 10:33] jonmmease commented on #1139
Thanks for the report @jdieg0 ,

This will need to be handled in the Plotly.js project, and I've opened a corresponding issue there at https://github.com/plotly/plotly.js/issues/2962.

[2018-09-01 10:42] jonmmease commented on #1143
Hi @Kkevsterrr,

I'm able to create an axis label with a link in this example:

[code]
![screen shot 2018-09-01 at 6 40 10 am](https://user-images.githubusercontent.com/15064365/44945213-100ef600-adb2-11e8-939a-992c76126e5b.png)

Could you provide a full example of what you're doing to generate the label that doesn't work?
Thanks!

[2018-09-01 10:52] jonmmease commented on #1147
Hi @CiaranWelsh , I'll try to take a look at Problems 1 and 3 soon, but I think problem 2 is a pretty quick fix.

The axes for 3D plots are located at `layout.scene.xaxis`, `layout.scene.yaxis`, `layout.scene.zaxis` rather than `layout.xaxis` and `layout.yaxis` for 2D axes.

[2018-09-01 17:58] rmarren1 commented on #1142
Ah ok. Looks like some `requirements.txt` files in Dash install `pexpect<=4.3` causing the error. We should just update those.

Thanks!

[2018-09-01 17:58] #1142 closed

[2018-09-01 22:04] jonmmease commented on #1108
Fixed in #1145

[2018-09-01 22:04] #1108 closed

[2018-09-01 22:10] jonmmease commented on #1090
Stale notebooks have been removed from the repo. Thanks for mentioning it!

[2018-09-01 22:10] #1090 closed

[2018-09-01 23:12] enerrio opened #1150 "ScatterGeo updatemenus button not updating plot"
Pandas version: 0.20.3
Plotly version: 3.1.1
macOS: 10.13.4
Python: 3.6.3

I am using Plotly offline plotting and came across an issue when trying to include a button in a `go.Scattergeo` plot. When I press the button I want some data points to disappear (`visible = False`) and other data points, that were previously invisible, to become visible. However when I press the button, all data points be

[2018-09-02 00:03] jonmmease commented on #1122
Done in #1151

[2018-09-02 00:03] #1122 closed

[2018-09-02 10:08] jonmmease commented on #1147
I was able to reproduce Problem 3. This error should have been harmless, but it will be fixed in version 3.2 by #1152.

[2018-09-02 11:00] jonmmease commented on #1147
Ok @CiaranWelsh , I worked out what was going on.

The culprit was this rule in `index_style.css`:
[code]

The modebar buttons in Plotly.js are SVG images and so this rule was overriding their sizing.  I fixed in by unsetting these values in `pca_style.css`

[code]

I also notice that the top of the legend was overlapping with the modebar a little, so I lowered it a bit by setting the `figure.layo

[2018-09-02 11:00] #1147 closed

[2018-09-02 17:30] CiaranWelsh commented on #1147
@jonmmease My inexperience with web development shining through here. Thank you for taking a look and sorry for opening an 'undeserved' issue.

All the best,

Ciaran.

[2018-09-03 13:35] suleimanmashini opened #1155 "Unsigned numpy uint64 unsupported"
Hi, When I used a pandas array of uint64 on plotly, the numbers appear negative.
I know that they cannot be as i force the type to unsigned when i append:
tempDataFrame[YaxisIn].astype(np.uint64)
In this call:
                traces.append(go.Scattergl(
                    x = tempDataFrame[XaxisIn],
                    y = tempDataFrame[YaxisIn].astype(np.uint64),
                    mode = 'mark

[2018-09-03 14:05] jonmmease commented on #1155
Hi @suleimanmashini,

Please provide a full example that demonstrates the issue, with data and imports, formatted in a "fenced code block" https://www.google.com/url?sa=t&source=web&rct=j&url=https://help.github.com/articles/creating-and-highlighting-code-blocks/&ved=2ahUKEwjMq--AgJ_dAhWQl-AKHSQrCG4QFjAAegQICBAD&usg=AOvVaw297etkhd2-RtKM-CXyUZ9h.

Also please include the version of plotly.py you ar

[2018-09-04 06:55] brylie opened #1156 "Wrapping timeseries chart"
A Redditor posted a seemingly simple chart design, [asking how to produce the design](https://reddit.com/comments/9cifqe):

![chart design sketch](https://i.redd.it/25ajib1bbyj11.jpg)

Initial responses about how to produce the chart were in three main flavors:
- gantt
- stacked bar
- calendar heatmap

In practice, each of the above chart types present unique challenges for, and may be incapable o

[2018-09-04 08:47] suleimanmashini commented on #1155
Hi @jonmmease ,
ofcourse Heres a code block that recreates the problem. I'm currently using plotly 3.0.2. I appreciate the help!
[code]

[2018-09-04 08:53] suleimanmashini commented on #1155
This is what I get when running the sample commented above:
![screen shot 2018-09-04 at 09 52 49](https://user-images.githubusercontent.com/33000035/45021034-6d13e180-b028-11e8-9a17-a10ba5713530.png)

[2018-09-04 09:44] jonmmease commented on #1156
Hi @brylie ,

[2018-09-04 09:51] jonmmease commented on #1156
Hi @brylie ,

In general this kind of question is better suited to the forums (https://community.plot.ly/c/api/python), but I don't mind talking about it here this time.  This is almost a perfect fit for the `create_gantt` figure factory method.  The only thing that's perhaps not a perfect fit is that the time values have to include a date (e.g. 8am of Sept. 4th 2018, not just 8am).  Here's a quic

[2018-09-04 09:54] brylie commented on #1156
Looks great! I will see if I can modify it to parse an array of structured data with proper `Datetime`s.

[2018-09-04 13:31] brylie commented on #1156
Ah, I understand better now! The `group_tasks=True` causes the tasks to be shown in the same row. That makes sense, but had me confused for a bit.

Thanks again @jonmmease :-)

[2018-09-05 12:58] gnthibault commented on #1000
Definitely interested in this feature as well

[2018-09-05 14:40] jonmmease commented on #880
Done in 3.2.0 🎉  See https://plot.ly/python/static-image-export/

[2018-09-05 14:40] #880 closed

[2018-09-05 14:58] jonmmease commented on #596
Update: Programmatic static image export support has been released in 3.2.0: See https://medium.com/@plotlygraphs/plotly-py-end-of-summer-updates-5422c98b9058

[2018-09-05 14:59] jonmmease commented on #564
Update: Programmatic static image export support has been released in 3.2.0: See https://medium.com/@plotlygraphs/plotly-py-end-of-summer-updates-5422c98b9058

[2018-09-05 14:59] jonmmease commented on #1106
Update: Programmatic static image export support has been released in 3.2.0: See https://medium.com/@plotlygraphs/plotly-py-end-of-summer-updates-5422c98b9058

[2018-09-05 15:00] jonmmease commented on #636
Update: Programmatic static image export support has been released in 3.2.0: See https://medium.com/@plotlygraphs/plotly-py-end-of-summer-updates-5422c98b9058

[2018-09-05 15:01] jonmmease commented on #575
Update: Offline programmatic static image export support has been released in 3.2.0: See https://medium.com/@plotlygraphs/plotly-py-end-of-summer-updates-5422c98b9058

[2018-09-05 15:02] jonmmease commented on #483
Update: Offline programmatic static image export support has been released in 3.2.0: See https://medium.com/@plotlygraphs/plotly-py-end-of-summer-updates-5422c98b9058

[2018-09-05 15:02] jonmmease commented on #352
Update: Offline programmatic static image export support has been released in 3.2.0: See https://medium.com/@plotlygraphs/plotly-py-end-of-summer-updates-5422c98b9058

[2018-09-05 15:04] jonmmease commented on #856
Update: Offline programmatic static image export support has been released in 3.2.0: See https://medium.com/@plotlygraphs/plotly-py-end-of-summer-updates-5422c98b9058

[2018-09-05 18:50] Kkevsterrr commented on #1143
I can't post my original script, but I'll drop in some more information and work on building  a trimmed down example  later today. I'm trying to add links to the x-axis data labels, not the x-axis title (that seems to work fine).
[code]

[2018-09-05 19:03] Kkevsterrr commented on #1143
Actually digging into this more, I don't think  it's a browser thing, I think it's a plotly regression - this seems to work with plotly 2.4.1 and not work with plotly 3.1.1.
I got those version numbers with the following:
[code]

[2018-09-05 20:09] scjody opened #1158 "Support legacy _raise and get_ordered use cases"
plotly.py raises a `ValueError` when a blank color property is found in the legend font (and possibly other places), rather than a `PlotlyGraphObjectError`. We depend on `PlotlyGraphObjectError` being raised in the streambed backend so that we can retry with `_raise=False` if the user tries to operate on an invalid figure.

Minimal code to reproduce the issue (Python 2.7.6, plotly.py 3.2.0):

[cod

[2018-09-05 21:39] jonmmease commented on #1156
Sure thing!

[2018-09-05 21:39] #1156 closed

[2018-09-05 21:41] jonmmease commented on #1143
OK, thanks for the update.  Could you please still add a full reproducible example when you have a chance? Thanks!

[2018-09-05 21:53] jonmmease commented on #1158
@scjody We can definitely bring back `PlotlyGraphObjectError` for validation exceptions, but it sounds like the bigger issue might be that in 3.0.0+ there is no more `_raise` arg in the `graph_objs` constructors.  Properties are always validated against the schema of the version of Plotly.js that ships with that version of plotly.py.

That said, every interface between plotly.py and Plotly.js (`pl

[2018-09-05 22:11] scjody commented on #1158
@jonmmease It sounds like the missing `_raise` argument will be a problem. Would it be possible to bring it back?

What we're doing is roughly:

[code]

We then call `force_clean()` and `get_ordered()` on the figure before passing it to our own code. (`fig_to_lang()`).

If you have access to the streambed repo you can see the whole thing here: https://github.com/plotly/streambed/blob/570fe40e83c39

[2018-09-05 22:52] jonmmease commented on #1158
We can definitely add something back to handle this case, but I don't think it can exactly match the `_raise=False` behavior.

In v3 a `Figure` can never store/represent an invalid figure state (this is an assumption relied upon throughout the code) so we can't just disable the exceptions. Also, in v3 we don't actually store `None` values, so I don't think there would be a need for `force_clean` (

[2018-09-06 03:41] vlizanae opened #1159 "Method to access traces by name"
I have been working a lot with Widgets and FigureWidgets lately and I think it would be useful to be able to access some trace in a figure by its name. For example, several times I've come across the situation where I have to set a Widget to change something in each of the traces separately and the handlers typically look like this:
[code]
or as a workaround I sometimes use a lookup dictionary in

[2018-09-06 10:44] jonmmease commented on #1150
Hi @enerrio , I do see what you mean. It seems like it's the introduction of the slider for the first time that's causing the points to disappear. This is something that would need to be addressed in plotly.js.

I'll try to simplify the example a bit, translate it into javascript, and post it as an issue at https://github.com/plotly/plotly.js/issues.

BTW, do you need this to end up as a standalon

[2018-09-06 12:10] VelizarVESSELINOV opened #1160 "Plotly 3.2.0 troubles with Pandas Series date time display"
Migrated to the latest version of Plotly and have troubles to display date time data in a Scatter plot.
Using the same Python code passing Pandas DateTime columns:
3.1.1. give us the following output:
[code]
3.2.0 give us:
[code]

[2018-09-06 12:43] jonmmease commented on #1160
Thanks for reporting this @VelizarVESSELINOV ,

Looks like an oversight from https://github.com/plotly/plotly.py/pull/1149

[2018-09-06 12:54] jonmmease commented on #1155
Hi @suleimanmashini ,

Could you try again with plotly.py 3.2.0 (released yesterday)?  When I run your example with this version I don't see this issue:

![newplot](https://user-images.githubusercontent.com/15064365/45158442-0e7a6f00-b1b2-11e8-96c1-e8c63ffa86d5.png)

If that doens't fix it for you, can you post what version of numpy you have installed?

I did notice that trying to plot a figure wi

[2018-09-06 12:58] jonmmease commented on #1159
Hi @vlizanae , this is an interesting idea. Here are a couple of details that would need to be worked out.
 - Is a linear search acceptable (performance wise), or would we need to maintain a map from trace names to trace objects/indexes? Keeping this map up to date would require a bit of effort in a few places in the code base.
 - What happens if two traces have the same name?
 - What happens if n

[2018-09-06 13:16] suleimanmashini commented on #1155
Hey,

updating it fixed the problem for me. Thanks!

[2018-09-06 14:05] jonmmease commented on #1158
## Implementation outline

In `_plotly_utils/basevalidators.py`, add a `skip_invalid=False` argument to the `validate_coerce` method of `CompoundValidator`, `CompoundArrayValidator`, and `BaseDataValidator`. This argument gets passed along to the constructor of the graph object that each validator constructs.

Add a `skip_invalid=False` argument to the constructor of each `graph_objs` class, and a

[2018-09-06 16:16] chriddyp commented on #425
this has been added in plotly.js: https://github.com/plotly/plotly.js/pull/2761

[2018-09-06 16:16] #425 closed

[2018-09-06 16:50] jonmmease opened #1161 "Improving integration of Plotly.js templates (themes)"
Some notes on integrating the new template (theme) support from plotly/plotly.js#2761 (original discussion from  #924).  With just rerunning code generation, in plotly.py 3.1+ template support is already usable. For example:

[code]
![newplot](https://user-images.githubusercontent.com/15064365/42936384-ea1607fa-8b19-11e8-84f9-5afe238cb7f7.png)

Here are some of my thoughts for improving the integr

[2018-09-06 22:03] scjody commented on #1158
@jonmmease Your proposed changes sound good to me - it sounds like the streambed code will be more straightforward with these changes even. I don't know enough about plotly.py internals to comment on the design details though.

[2018-09-06 22:18] jonmmease commented on #1158
Great, I'll add these changes soon and I'll ping you on the PR.  It would be great if someone from your side could try out these changes in streambed (probably early next week) and see if there's anything else you all need from plotly.py before upgrading.

[2018-09-07 04:05] enerrio commented on #1150
Hi @jonmmease, thanks for the response. I don't need it as a standalone html file, I just wanted the visualizations to appear in the notebook. I actually tried using `FigureWidget` with above data like this:
[code]
But it still has the same error as above.

[2018-09-07 17:04] rsandler00 opened #1164 "Fail to install plotly-orca for static image export"
The instructions for installing plotly-orca from: https://plot.ly/python/static-image-export/ are to enter:
`conda install -c plotly-orca psutil`

However, this results in the following error:

[code]

The solution which worked for me was following the error output instructions:
[code]
rather than `conda install -c plotly-orca`

Basically, there is a typo in the documentation which should be corre

[2018-09-07 17:14] jonmmease commented on #1164
Thanks! Definitely a typo, glad you worked out the solution. We'll get this updated as soon as we can.

[2018-09-07 20:21] rmarren1 opened #1165 "Can't copy.deepcopy a Plotly figure"
This does not work:
[code]
and gives the following error:
[code]

I am using `plotly==3.1.0` and `Python==3.7.0`

[2018-09-07 23:40] SterlingButters opened #1166 "API key-user mismatch and regeneration not working"
I get the following error:

plotly.exceptions.PlotlyRequestError: Aw, snap! You tried to use our API as the user '*username*', but the supplied API key doesn't match our records. You can view your API key at https://plot.ly/settings/api

You're most likely getting this message because your local credentials file isn't synced with the Plotly server you're communicating with.

Go to https://plot.ly/

[2018-09-08 00:15] vlizanae commented on #1159
Those are good points. In my opinion:

- A linear search is fine, as the number of traces shouldn't be that large in most of the cases.
- I never thought about two traces having the same name before, probably the most consistent way is if the method returns a list with all the corresponding traces, that would also solve the problem where the name is not present.

[2018-09-08 13:36] jonmmease commented on #1150
Hi @enerrio , Here's an example of what I mean by using `FigureWidget` and `ipywidgets`

[code]
![geodashboard](https://user-images.githubusercontent.com/15064365/45254686-461c1f00-b34a-11e8-8d8a-334df55bd53a.gif)

I made a couple of other changes. I set `layout.margin.r` to keep map from jumping when legend changes. And I used `legendonly` rather than `False` for the `visible` property of years t

[2018-09-08 13:42] jonmmease commented on #1165
Thanks for the report.

Copying / pickling figures directly isn't possible yet, but it will happen eventually.  In the meantime, you can accomplish a deep copy with `new_fig = Figure(fig)`.

[2018-09-08 13:46] jonmmease commented on #1166
Hi @SterlingButters ,

A bunch of the plotly.py examples have instructions for setting the API key from Python with `plotly.tools.set_credentials_file(...)` (e.g. https://plot.ly/python/getting-started/).  If your `~/.plotly/.credentials` file is being overwritten with old information, try double checking that you don't have any calls to `set_credentials_file` in the scripts you're running.

[2018-09-08 15:56] jonmmease commented on #899
This is now possible with `FigureWidget` (The version 3 replacement for `GraphWidget`)

[2018-09-08 15:56] #899 closed

[2018-09-08 17:12] jonmmease commented on #1164
Fixed. Thanks again!

[2018-09-08 17:12] #1164 closed

[2018-09-08 19:39] SterlingButters commented on #1166
Yup, there it is, found the call to `set_credentials_file`, sorry to bother, thanks

[2018-09-08 19:39] #1166 closed

[2018-09-08 23:43] jonmmease commented on #1158
@scjody I just merged #1162 and #1167.  These will be released as part of 3.2.1.  With these updates, the use-case of constructing a `Figure` from a `dict` that may include some invalid properties works like this:
[code]
Then, to convert a `Figure` into a nested structure of `OrderedDict` and `list` instances, use the `to_ordered_dict` method.
[code]
Would someone from your team have time to test

[2018-09-08 23:49] jonmmease commented on #1160
Fixed in  #1163 and will be released next week as part of 3.2.1.  I'm hoping to publish a release candidate of 3.2.1 on Monday, and it would be great if you could give it a try 🙂  Thanks again for the report!

[2018-09-08 23:49] #1160 closed

[2018-09-08 23:50] jonmmease commented on #1155
The `FigureWidget` issue noted above has been fixed in #1163

[2018-09-08 23:50] #1155 closed

[2018-09-09 02:24] Jaquedeveloper opened #1168 "Live Update Candlestick Chart"
I'm trying to make a live chart using python and plotly, but when the update function is called, it doesn't shows the updated data. Instead, it empties the chart. The first time it runs the function, the data is shown on the screen. The second time, it deletes the data from screen and it never gets updated again.

I've been searching the web for days and can't find nothing. So, here I am.

This is

[2018-09-09 09:25] #1168 closed, assigned to nobody

[2018-09-10 09:38] henrykeithturner opened #1170 "Matplotlib to plotly bar chart label loss"
Hi all,

I posted the following problem on:  https://community.plot.ly/t/matplotlib-to-plotly-bar-chart-label-loss/13383/1 and i was advised to repost it here. I was having issues using the matplotlib to plotly conversion where categorical axis labels do not seem to be copied over.

Thanks,

Harry Turner

[2018-09-10 10:11] jonmmease commented on #1170
Thanks for the report @henrykeithturner

[2018-09-10 14:08] jonmmease commented on #1160
3.2.1rc1 is available. If you have time to confirm the issue is fixed for you that would great. Instructions at https://github.com/plotly/plotly.py/tree/release_3.2.1.

[2018-09-10 14:11] jonmmease commented on #1158
@scjody I just published 3.2.1rc1 to PyPI. If you all have time, give it a try and let me know if there's anything else that streambed needs.

[2018-09-10 21:39] ekn1v opened #1172 "Plotly.Make_Subplots function does not support transforms property"
Hi,

I’m trying to do the link below, but in one column and multiple rows.
https://plot.ly/~empet/14352/defining-subplots-with-two-y-axes-in-eac/#/

My challenge is that my data needs to use transforms because I want to aggregate it and filter it. I have been able to make it in one chart.
https://discourse-cdn-sjc2.com/standard17/uploads/plot/original/2X/1/1069c5ebb154a09505ac0ea21f8dc3e5f09c1f02.

[2018-09-10 23:26] spencercal commented on #1043
I've got this issue currently as well on a project I'm working on. Would love to have resizing work when `output_type="div"` and `include_plotlyjs` is `False`.

I'm building a dashboard that graphs the data for various environmental sensors on a single page. When I've tried setting `include_plotlyjs` to `True` it affects my page layout.

Any available fix or workaround?

![dashboard-graph-divs](ht

[2018-09-11 05:27] didopop3 opened #1173 "v3.2.0 Error: <g> attribute transform: Trailing garbage, "rotate(0,NaN,867.82999999…"
v3.2.0 console errors:
Error: <g> attribute transform: Trailing garbage, "rotate(0,NaN,867.82999999…
Error: <path> attribute d: Expected number, "MNaN,NaNLNaN,897.…".
![image](https://user-images.githubusercontent.com/26617297/45339722-e642a400-b5e7-11e8-8c6d-2c9291547d6f.png)

v3.1.0 works fine
![image](https://user-images.githubusercontent.com/26617297/45339684-c0b59a80-b5e7-11e8-8cda-6913b59c5c

[2018-09-11 08:30] jonmmease commented on #1173
Hi,

Could you try upgrading to 3.2.1rc1? If this doesn't help, could you please add a small example that reproduces the error?

Thanks!

[2018-09-11 09:32] jonmmease commented on #1043
Hi all,
    We're already planning on doing some work in `plotly.offline.plot` for v3.3.0 to introduce latex/MathJax support, so I think we can take care of this at the same time.

[2018-09-11 09:43] jonmmease commented on #515
Hi All,

I've started digging into this a bit and I'm pretty confident we'll have latex/MathJax support working for `plotly.offline.plot` (standalone html/div) for version 3.3.0.  I'm also hopeful that we'll be able to add support for `plotly.offline.iplot` and `plotly.graph_objs.FigureWidget` at the same time, but these are a bit more complicated because Jupyter also relies on MathJax, and it req

[2018-09-11 09:51] jonmmease commented on #1172
Hi @ekn1v ,

This issue you're running into is that the `Figure` class doesn't support validating and storing transform properties, and this is what `make_subplots` returns.

One approach you can use is to convert the `Figure` to a `dict` before adding transforms using `Figure.to_dict()`.  Then add your transforms to the `dict` representation of the figure. Then, set the `validate` argument to `Fa

[2018-09-11 09:53] jonmmease commented on #1172
Closing as duplicate of #587

[2018-09-11 09:53] #1172 closed

[2018-09-11 13:50] cboulay opened #1174 "Request efficient encoding for plotly offline"
I know @jonmmease is [planning to do this](https://github.com/plotly/plotly.js/pull/2911) anyway, so this issue isn't really necessary. However, [I said that I would create it](https://community.plot.ly/t/offline-plot-to-div-encode-numpy-data-as-binary-blob/12965/2) and I'd like to humbly ask to please keep multi-dimensional arrays in the back of your mind as you work on this. Heatmaps and contour

[2018-09-12 05:27] Juanlu001 commented on #1033
For Sphinx docs that use themes without jQuery on `<head>`, this workaround is fragile and does not always work in all browsers or all the times. We are tracking it accross several places:

spatialaudio/nbsphinx#128, poliastro/poliastro#281, rtfd/readthedocs.org#4367

Perhaps this is something that could be worked on the Plotly side? Could we please reopen this?

[2018-09-12 09:53] jonmmease commented on #1174
Thanks for creating the issue @cboulay ,

In the meantime, let's do an experiment. I'd like to see how much the base64 encoding would help in your situation.

Take one of the large multi-dimensional numpy arrays that you're dealing with, lets call it `a`. First convert it to JSON as a list and measure the time and size (in ipython or jupyter):

[code]

Then convert to a base64 encoded string:

[co

[2018-09-12 10:08] jonmmease commented on #1033
Hi @Juanlu001, sure we can reopen this.

So it looks to me like the JavaScript block emitted by plotly.py on `init_notebook_mode` expects `requirejs` to be active, but I don't see how it's using or altering jquery.

https://github.com/plotly/plotly.py/blob/1e4a3c7e1cfc5a8e40a847e7242ed54b20a9050b/plotly/offline/offline.py#L129-L141

Could you summarize your current understanding of what's going wr

[2018-09-12 15:31] jonmmease commented on #1158
Hi @scjody , it looks like something in streambed is trying to JSON serialize a `Figure` directly, I don't think you would get this error from the result of `fig.to_ordered_dict()`.

To serialize a figure you should pass `plotly.utils.PlotlyJSONEncoder` as the `cls` arg to `json.dump*`.  Something like:

[code]

This was also the recommended way to serialize Figure in versions < 3, but it wasn't r

[2018-09-12 16:07] scjody commented on #1158
@jonmmease Good catch - I didn't notice we were operating on the original `fig` there, rather than the processed `ordered_fig` (which is actually a dict). Adding the `cls` argument fixes the issue.

Everything looks fine to me in manual testing. Some automated tests fail because they expect exceptions to be raised due to invalid keys, so we'll need to update those. I opened a WIP PR at https://git

[2018-09-12 16:17] jonmmease commented on #1158
Great!  I'm hoping to do the final release Friday morning, but let me know if you run into anything else.  I'll leave this issue open until you give the 👍 .

[2018-09-12 20:25] fcollonval opened #1175 "[Windows] Installing conda package is very slow"
I really love the new 3.x plotly.py. But its installation from conda package takes ages.

On Windows 7 and 10 64bits with SSD drive, `conda install plotly -c conda-forge` on a fresh conda environment takes at least 15min. when `pip install plotly` in the same fresh environment takes about 1min.

As our workflow includes generating often conda environments, this is really annoying.

During the cond

[2018-09-12 22:41] jonmmease commented on #1175
Hi @fcollonval, glad you're enjoying plotly.py and thanks for reaching out.

**TLDR**, installation is much faster using the new packages in the plotly anaconda channel (https://anaconda.org/plotly/plotly)

[code]
Can you try this out and verify that its significantly faster?

**Explanation:**
As you noticed, the majority of the installation time for the packages in the `main` and `conda-forge` ch

[2018-09-13 05:49] fcollonval commented on #1175
@jonmmease thanks for this quick and detailed answer.
I'll try later today the installation through plotly channel and let you know.

In the mean time, do you know if some issues have been reported to the conda issues tracker about this? Some speedup work should be considered.

[2018-09-13 10:45] LePuppy opened #1176 "Subplots with Histogram2d won't plot anything"
Hi, I'm trying to plot subplots in plotly 3.0. I opened an issue one month ago because I didn't manage to make FigureWidget et `make_subplots` work together: #1130 but I got helpful answers and it's now closed.

Here I'm trying to plot multiple traces which are Histogram2d graphic objects. It works when plotting one trace:
[code]

And with subplots:

[code]

And nothing is plotted except the forma

[2018-09-13 11:55] fcollonval commented on #1175
@jonmmease Just tested the installation with the plotly channel. It took less than 20sec. User should definitely use your channel.

Long live plotly :wink:

[2018-09-13 11:55] #1175 closed

[2018-09-13 18:28] fcooper8472 commented on #1011
@kalinkirev  I'm having the same issue - did you find a solution?

[2018-09-14 08:55] pe224 commented on #1160
Can confirm that timestamps are correctly displayed again in 3.2.1rc1.
Thanks for your work and the fast fix.

[2018-09-14 10:04] jonmmease opened #1177 "Support non-cartesian hover events"
Currently the trace.on_hover method doesn't work for non-cartesian trace types like `parcoords` and `sankey`.  The reason these don't just work is because the structure of the callback data from Plotly.js doesn't match that from the cartesian trace types.

For parallel coordinates the Python callback signature for hover/unhover could match that of the cartesian plots.  For `sankey` the hover data

[2018-09-14 11:42] jonmmease commented on #1158
@scjody I'm about ready to release 3.2.1 final (which looks like it will be identical to 3.2.1rc1).  Do things still look alright on your end?

[2018-09-14 14:31] scjody commented on #1158
@jonmmease Unfortunately I don't have time to re-test this, but if nothing has changed I don't anticipate any issues.

[2018-09-14 14:32] scjody commented on #1158
For what it's worth, I tested `1e4a3c7e1cfc5a8e40a847e7242ed54b20a9050b1`

[2018-09-14 14:34] jonmmease commented on #1158
Hi @scjody , I was only referring to whether anything else had come up with the version that you were testing last time.  Nothing has changed since then, and now 3.2.1 has been released to the wild.

[2018-09-14 14:34] #1158 closed

[2018-09-14 20:59] ekn1v commented on #1172
Jon,

Thank you for helping. I am performing the transform operations in pandas now before constructing the traces.

I am slightly lost on how to convert the Figure to dict and then pass the traces. Can you add some some more details on how to do this?

Thank you so much!
Luis

[2018-09-15 10:08] jonmmease commented on #1172
If you're no longer trying to set the `transform` property of the traces, you don't need to worry about converting the figure to a `dict` (That was just a workaround if you needed to continue using the `transform` property).  If you have more specific questions on your example, feel free to ask a question on the forums at https://community.plot.ly/c/api/python

[2018-09-16 10:22] YaoChen1 opened #1179 "ImportError: cannot import name ‘offline’, need help!"
Hello! I am new to dash. I did pip installation according to the website. After “import dash” in python, the error message constantly pop. Please help!

----------------------------------------------------------------------------
ImportError Traceback (most recent call last)
in ()
----> 1 import dash

~/anaconda3/lib/python3.6/site-packages/dash/init.py in ()
----> 1 from .dash import Dash # noqa:

[2018-09-17 06:43] 444thLiao opened #1181 "wrong leaves determination of _dendrogram.py"
When I using the function for creating dendrogram, I meet some wrong presentation of the leaves.
![all zero leaves](https://user-images.githubusercontent.com/16633223/45608688-e5e25700-ba86-11e8-8e20-9ee3e28680dd.png)

In your code(**~/.local/lib/python3.6/site-packages/plotly/figure_factory/_dendrogram.py**), we can see that
![original code which come from ~/.local/lib/python3.6/site-packages/plo

[2018-09-17 09:48] empet opened #1182 "Qualitative difference in the two types of Plotly animation"
I noticed the following drawback in animating scatter points via ipywidgets:
If from one step to another, the set of scatter points to be plotted contains a point that comes in a fixed position, the ipywidgets animation cannot illustrate the motion from the previous position to the fixed one.

[Here](http://nbviewer.jupyter.org/github/empet/Plotly-tests-for-version-3/blob/master/fermatslibrary-ani

[2018-09-17 09:57] jonmmease commented on #1179
Hi @YaoChen1,

How did you install dash?  Please include the output of the following terminal commands: `pip list` and `conda list`

[2018-09-17 10:08] jonmmease commented on #1181
Hi @444thLiao , thanks for the report. I left some comments over in #1180 , so we can continue the conversation over there.

[2018-09-17 10:51] empet commented on #1182
Hi @jonmmease,
I ommitted to say that I tried `batch_animation` too, but the same behaviour persisted.
I didn't refer to smooth transition, but to the fact that the motion along diagonals isn't seen, because the dot at origin (0,0) is always fixed, while in the right motion we should see how a  point on the rolling circle is coming there, during the transition ( as in the classic Plotly animation)

[2018-09-17 13:17] pfbuxton opened #1183 "Double click zoom out behaviour"
Hello,

Here is a movie of the problem behaviour (taken from https://plot.ly/python/zoom-events/; but it's the same using any plotly ):
![double_click2](https://user-images.githubusercontent.com/4923588/45626277-06aaac80-ba87-11e8-850e-4d86bbbe8cef.gif)

1. Zoom in by selecting a region.
2. Zoom out by double clicking.
3. Zoom in by horizontal selection.

The problem is that stage 3 also changes t

[2018-09-17 23:34] rselvak6 opened #1184 "Static image export via Xvfb not working"
Hi all,

I am running a Jupyter notebook on a Google Cloud VM instance and am trying to export plots to static images. I tried to configure orca to use Xvfb, as instructed in the [github](https://github.com/plotly/orca) page. When I type `orca --help` I am able to see the help instructions. However, I still get the `Return code: 1` error. Any thoughts? Thanks!

![image](https://user-images.githubu

[2018-09-18 00:35] MinhduongUNO opened #1185 "Python/Dash - TypeError: Object of type 'Figure' is not JSON serializable"
I am trying to build a simple app. The objective is to create a drop-down and use the drop-down as a filter. The filtered data will be shown on a Google Map. Here is my code:

Unfortunately, it keeps giving me the following error message: "TypeError: Object of type 'Figure' is not JSON serializable". I followed the same format, using the drop-down menu to filter a dataset and the code worked fine.

[2018-09-18 01:05] chessybo commented on #1020
no matter what i do it just tells me module 'plotly.figure_factory' has no attribute 'create_choropleth'

[2018-09-18 01:51] Kully commented on #1020
Strange. What version are you using?

I assume it was working for you at some point because you made the issue.

[2018-09-18 03:47] chessybo commented on #1020
it never worked. I’m using whatever it installs, with Conda install

where does it look when it sees the figure factory module? In the Cindy folder there are several figure factory folders scattered about

[2018-09-18 11:28] jonmmease commented on #1184
Hi @rselvak6 , did you make a bash file like this?

[code]

If so, set the `plotly.io.orca.config.executable` property to the full path to this bash script.  The plotly.py orca logic doesn't know anythign about `xvfb`, so you'll need to make sure that the executable it finds is your script that runs orca using `xvfb`.

[2018-09-18 13:06] empet commented on #1182
Hi @jonmmease,

Finally I found out what happened. Instead of:
[code]
I had
[code]
where fig is the go.Figure instance for clasic plotly animation.

Now it works fine!!! I'm sorry!

[2018-09-18 13:06] #1182 closed

[2018-09-18 16:55] rselvak6 commented on #1184
@jonmmease I did have this in my bash script. Do I set the `plotly.io.orca.config.exectuable` property in the bash script as well? I tried setting it from the command line, but it tells me that property was not found.

[2018-09-18 17:16] jonmmease commented on #1184
You assign `plotly.io.orca.config.exectuable` from Python:

[code]

How does that work for you?

[2018-09-18 18:42] rselvak6 commented on #1184
@jonmmease The bash script is in one folder, while the `AppImage` and orca executable are in another folder. Does the `plotly.io.orca.config.executable` point to the orca executable or the bash script? Appreciate the help!

`which orca` yields the path to the bash script, for reference.

[2018-09-19 10:46] jonmmease commented on #1183
Hi @pfbuxton , thanks for the report. I see what you mean. Would you mind moving this issue to the Plotly.js project at https://github.com/plotly/plotly.js/issues?  The fix will need to be made there, and then plotly.py will get it automatically.  Thanks!

[2018-09-19 10:51] jonmmease commented on #1184
Hi @rselvak6,

The `plotly.io.orca.config.executable` should point to the bash script (with `xvfb-run`). Also, you're initial error message shows that plotly.py found an orca executable under `/miniconda/bin`. Is that something you installed through conda, the AppImage, or your xvfb bash script? (If it's a conda install, go ahead and uninstall it).

And, if `which orca` shows path to the xvfb bash

[2018-09-19 10:55] pfbuxton commented on #1183
**Moved to https://github.com/plotly/plotly.js/issues/3026**

[2018-09-19 10:56] #1183 closed

[2018-09-19 14:21] dabana opened #1187 "The length of the arrows are not maintained by the 2D quiver plot in figure factory."
### Bug report

Thanks to the Plotly community for this great implementation of 2D quiver plots in the figure factory. The issue is that the length of the arrows are not maintained by the quiver plot.

**Bug summary**

The length of the arrows in a quiver plot carries relevant information in most applications (wind speed, force field intensity, etc.). This seem to be the case with the quiver plot

[2018-09-19 14:42] dabana commented on #1187
Fun fact, the plotly.js team was working actively on a 3D quiver plot (see closed issue #861) earlier this year. This issue maybe a good time for the plotly community to give a little love to their 2D quiver plot. Just saying ;)

[2018-09-19 17:06] rselvak6 commented on #1184
Hi @jonmmease ,

`/miniconda3/bin` contains the xvfb bash script (full script included below).
`orca --help` displays the normal help instructions into terminal (also included below)

![image](https://user-images.githubusercontent.com/7735922/45769079-60c88080-bbf3-11e8-9b79-d9c4bf895e99.png)

![image](https://user-images.githubusercontent.com/7735922/45769117-7c338b80-bbf3-11e8-82db-522deca94c0a.

[2018-09-20 09:43] jonmmease commented on #1184
Hi @rselvak6 , ok I think you're close.  Thanks for including the contents of your orca bash script.

It looks like there's a mix of things going on here.  This file is the auto-generated bash script generated by installing orca using conda, with your `xfvb-run` command at the top. Based on the output of `orca --help` it looks like the `xfvb-run` command is working fine.  I think the exit code 1 e

[2018-09-20 10:46] jonmmease commented on #1187
Hi @dabana ,

Thanks for the report, this is a great point regarding scale distortion.  What if we added `scaleratio` as an input parameter (optional for now for backwards compatibility) that would cause the arrow length and arrowhead shape to be computed with respect to this ratio, and would set the `scaleanchor` and `scaleratio` attributes in the resulting figure as you do above.

Do you have an

[2018-09-20 12:10] jonmmease commented on #1043
Bumping this to v3.4.0 because that's where the latex/MathJax work is going to happen.

[2018-09-20 12:27] jonmmease commented on #907
All config keys area available as of https://github.com/plotly/plotly.py/pull/1065/

[2018-09-20 12:27] #907 closed

[2018-09-20 12:33] jonmmease commented on #663
This functionality will be added with the `to_json` and `write_json` functions in the `plotly.io` module. See https://github.com/plotly/plotly.py/pull/1188 for progress

[2018-09-20 12:44] jonmmease commented on #748
I think this has been true for quite some time. At least I know that it's possible in JupyterLab. Feel free to reopen if this isn't the case for nteract!

[2018-09-20 12:45] jonmmease commented on #408
This has been possible since 3.0.0 using `FigureWidget`

[2018-09-20 12:45] #408 closed

[2018-09-20 12:47] jonmmease commented on #426
This has been possible since 3.0.0 using `FigureWidget`

[2018-09-20 12:47] #426 closed

[2018-09-20 12:49] jonmmease commented on #702
I'm going to close this since validation logic has been fully rewritten for version 3.0.0.  Feel free to open a new issue if anyone is still having trouble with this!

[2018-09-20 12:49] #702 closed

[2018-09-20 12:50] jonmmease commented on #727
Plotly.py added built-in retry logic to help with server timeout errors in version 3.0.0.  Going to close this as I think plotly.py is now doing everything it can to help with this.

[2018-09-20 12:50] #727 closed

[2018-09-20 12:52] jonmmease commented on #217
Closing in favor of https://github.com/plotly/plotly.py/issues/1161. This functionality is going to be built on top of the Plotly.js template mechanism.

[2018-09-20 12:52] #217 closed

[2018-09-20 12:52] jonmmease commented on #1066
Closing for now. Feel free to follow up with the requested info if you're still having trouble.

[2018-09-20 12:52] #1066 closed

[2018-09-20 12:56] jonmmease commented on #1053
Closing for now. Feel free to follow up with the requested info if you're still having trouble

[2018-09-20 12:56] #1053 closed

[2018-09-20 17:44] Kully opened #1189 "on-prem accounts cannot upload with grid_ops, etc, from plotly.py"
PlotlyRequestError - bad API for grid_ops, dashboard_ops, presentation_ops in plotly.py

Using buildly(on-prem)

[code]

`.upload` functions for dashboard_ops, presentation_ops, grid_ops, are not working. For grid_ops, the following error gets returned

[code]

[2018-09-20 18:52] jonmmease commented on #1184
So this message indicates that plotly.py is still finding the bash script in `/home/data/miniconda3/bin/orca`.  Maybe conda didn't clean it up since it was edited.   Let's do this next:

1) Delete the `/home/data/miniconda3/bin/orca` file

2) In your bash terminal, test that your `~/bin/orca` script still works by running
[code]
Hopefully this still displays the orca help info

3) From python, con

[2018-09-20 20:33] Kully commented on #1189
With further investigation, this looks like a v2 endpoint issue with on-prem domain names, eg. 'https://buildly.plotly.systems'

`py.sign_in()` returns an error message, even though having those credentials filled out in the credentials file doesn't create any errors for producing a plain scatter:

eg.
[code]
works fine

[2018-09-21 10:34] jonmmease commented on #1187
Yeah, I was picturing that the user would use the `scaleratio` to adjust the viewport onto the data. But you're right that this would take some manual tweaking to get right.

Another option that comes to mind is that the user could specify the figure width/height that they want. Then we could subtract off the margins to get the pixel width/height of the axis extents. Then we could also manually co

[2018-09-21 11:50] dabana commented on #1187
I like the callback function approach a lot. I will look into it. Thanks!

[2018-09-21 13:10] sursu opened #1190 "Time Series xaxis ticks in `3.2.0`"
I have the following dataframe:

[code]

I try to make a time series plot as shown [here](https://plot.ly/python/time-series/):
[code]

Output:
![newplot 2](https://user-images.githubusercontent.com/12001304/45882810-94500a00-bdaf-11e8-949a-fd97a282266b.png)

Notice how **the xaxis ticks are not in a datetime format**.

Specifying the `x` as `x=DD['Date'].dt.date` resolves the issue.
But this solu

[2018-09-21 13:19] jonmmease commented on #1190
Hi @sursu , I think you're running into https://github.com/plotly/plotly.py/issues/1160, which was fixed in 3.2.1. Can you try updating and see if that takes care of it?

[2018-09-21 13:22] sursu commented on #1190
Yes, that solved it :+1:

[2018-09-21 23:26] jonmmease commented on #402
Hi @actongorton, I'm going to close this issue for now since plotly.py has been largely rewritten over the last two years, but feel free to open a new issue if you're having similar problems with ploty.py version 3.  Thanks!

[2018-09-21 23:26] #402 closed

[2018-09-21 23:31] jonmmease commented on #291
No longer applicable to version 3

[2018-09-21 23:31] #291 closed

[2018-09-21 23:33] jonmmease commented on #566
Hi @empet, making my way through old issues. Do you think this is still relevant for version 3?

[2018-09-21 23:53] jonmmease commented on #102
Closing as this is going to be handled through the [JupyterLab chart editor extension](https://github.com/plotly/jupyterlab-chart-editor). Follow along and chime in with https://github.com/plotly/jupyterlab-chart-editor/issues/20 and https://github.com/plotly/jupyterlab-chart-editor/issues/23 if you're interested!

[2018-09-21 23:53] #102 closed

[2018-09-21 23:56] jonmmease commented on #105
The offline latex/MathJax issues are going to be resolved by https://github.com/plotly/plotly.js/pull/2994 and https://github.com/plotly/plotly.py/pull/1169.  Follow along if you're interested!

[2018-09-21 23:58] #135 closed

[2018-09-22 00:00] jonmmease commented on #143
In version 3 `xaxis1` is an alias for `xaxis` everywhere. `xaxis1` can be used in property access, property assignment, and as a constructor argument name, but it is never stored as `xaxis1` in the JSON structure.

[2018-09-22 00:00] #143 closed

[2018-09-22 00:02] jonmmease commented on #114
Closing as plotly.py has been largely rewritten since this was opened. Feel free to open a new issue with plotly.py version 3 if anyone is still struggling with this!

[2018-09-22 00:02] #114 closed

[2018-09-22 00:06] jonmmease commented on #18
Closing this for now.  plotly.py does support `DateTimeIndex` values now, and the cufflinks project has become an established way to build plotly plots from pandas data frames.  Feel free to open a new issue if anyone would like to discuss additional pandas integration ideas!

[2018-09-22 00:06] #18 closed

[2018-09-22 00:09] jonmmease commented on #151
Closing as this issue is 4 years old and doesn't provide enough detail to evaluate whether it's still relevant

[2018-09-22 00:09] #151 closed

[2018-09-22 00:15] jonmmease commented on #190
Closing for now as it sounds like the initial issue was resolved (or worked around).  Feel free to chime in if that's not the case!

[2018-09-22 00:15] #190 closed

[2018-09-22 00:18] jonmmease commented on #206
Old `GraphWidget` has been replaced by `FigureWidget` in version 3.

[2018-09-22 00:18] #206 closed

[2018-09-22 00:27] jonmmease commented on #218
Setting the axis `automargin` property to `True` now takes care of the problem of axis ticks getting chopped off. If there are other components to this we can open a new issue.

[2018-09-22 00:27] #218 closed

[2018-09-22 00:27] #262 closed

[2018-09-22 00:27] #263 closed

[2018-09-22 00:31] jonmmease commented on #282
Has been moved to `plotly.figure_factory`

[2018-09-22 00:31] #282 closed

[2018-09-22 00:31] jonmmease commented on #283
No longer applicable to version 3

[2018-09-22 00:31] #283 closed

[2018-09-22 00:32] jonmmease commented on #285
I think this is now possible. Feel free to reopen if not.

[2018-09-22 00:32] #285 closed

[2018-09-22 00:33] jonmmease commented on #289
Version 3 docstrings are very pretty 🙂

[2018-09-22 00:33] #289 closed

[2018-09-22 00:33] jonmmease commented on #293
No longer applicable to version 3

[2018-09-22 00:33] #293 closed

[2018-09-22 00:34] jonmmease commented on #297
pandas is no longer auto-imported

[2018-09-22 00:34] #297 closed

[2018-09-22 00:35] jonmmease commented on #298
I believe this was  taken care of several years ago. Feel free to reopen if that's not the case

[2018-09-22 00:35] #298 closed

[2018-09-22 09:45] jonmmease commented on #313
Looking through the Pypi tar.gz for version 3.2.1 I can confirm that there are no *.pyc files included.

[2018-09-22 09:45] #313 closed

[2018-09-22 09:53] jonmmease commented on #320
This is actually now possible in JupyterLab when using `iplot` with the `@jupyterlab/plotly-extension`.  This extension adds a `png` representation of the plot to the mime bundle right after the plot is rendered.  This png representation is saved to the notebook where it is available to nbconvert. See

https://github.com/jupyterlab/jupyter-renderers/blob/660d1529b75849e14cbe10922ff83a24fe328e61/pa

[2018-09-22 09:56] jonmmease commented on #322
Closing this for now since I don't believe this is a problem anymore, and the example above is not reproducible. Feel free to open a new issue against version 3 if this is still a problem

[2018-09-22 09:56] #322 closed

[2018-09-22 09:58] jonmmease commented on #323
Closing as this was a question, not an issue report. Feel free to ask open-ended questions on the forum https://community.plot.ly/c/api/python.

[2018-09-22 09:58] #323 closed

[2018-09-22 09:58] #324 closed

[2018-09-22 09:59] empet commented on #566
Hi @jonmmease,
I updated the code to plotly 3.+, and I get the same result. Although the argument is changed for the second trace, when I print `fig.data[0].surfacecolor`, and  `fig.data[1].surfacecolor` I get the same values:
[code]

[2018-09-22 10:01] jonmmease commented on #329
Closing as this example is no longer compatible with version 3 and I can't verify whether there is a current problem. Feel free to open a new issue against version 3 if needed

[2018-09-22 10:01] #329 closed

[2018-09-22 10:02] jonmmease commented on #331
Closing as this seems to have been resolved, and I have not seen this issue with modern versions of plotly and jupyter. Feel free to open a new issue against version 3 if there's still a problem

[2018-09-22 10:02] #331 closed

[2018-09-22 10:02] #335 closed

[2018-09-22 10:03] jonmmease commented on #336
matplotlylib tests are being run on circle now

[2018-09-22 10:03] #336 closed

[2018-09-22 10:04] #339 closed

[2018-09-22 10:08] jonmmease commented on #340
I don't *think* this is necessary now that plotly.py has an offline mode and the documentation indicates the required plotly.py version for each documentation page.  Feel free to reopen if you don't agree 🙂

[2018-09-22 10:08] #340 closed

[2018-09-22 10:09] jonmmease commented on #347
`connectgaps` is now supported for `Scattergl` trace types.

[2018-09-22 10:09] #347 closed

[2018-09-22 10:12] jonmmease commented on #350
`init_notebook_mode` no longer undefines the `define` function

[2018-09-22 10:12] #350 closed

[2018-09-22 10:13] jonmmease commented on #351
Update: Fully free/offline/open source static image export is now possible using the orca integration introduced in version 3.2

[2018-09-22 10:16] jonmmease commented on #354
The `The response from plotly could not be translated.` exception is no longer present in the codebase.  We can reopen if there is still an underlying problem.

[2018-09-22 10:16] #354 closed

[2018-09-22 10:18] jonmmease commented on #360
The offline latex/MathJax issues are going to be resolved by plotly/plotly.js#2994 and #1169. Follow along if you're interested!

[2018-09-22 10:26] jonmmease commented on #383
Plotly now supports a first class [table trace](https://plot.ly/python/table/). This is the recommended approach and it has much better performance characteristics than the figure factory.

[2018-09-22 10:26] #383 closed

[2018-09-22 10:32] jonmmease commented on #393
Perhaps this could be done as a `FigureWidget` based extension of the WIP sparklines figure factory https://github.com/plotly/plotly.py/pull/888

[2018-09-22 10:33] jonmmease commented on #394
`require=requirejs=define=undefined` is no longer performed in `init_notebook_mode()`

[2018-09-22 10:33] #394 closed

[2018-09-22 10:37] jonmmease commented on #395
Let's revisit this as a configuration option when get to working on the `plotly.io.show` module (https://github.com/plotly/plotly.py/issues/1098)

[2018-09-22 10:39] jonmmease commented on #399
all config options are now supported in `plotly.offline.plot` and `plotly.offline.iplot`.  They are not yet available in `FigureWidget`, see https://github.com/plotly/plotly.py/issues/1074.

[2018-09-22 10:39] #399 closed

[2018-09-22 10:42] jonmmease commented on #405
Closing as I believe this is no longer a problem in recent versions of plotly/scattergl.  Feel free to open a new issue against version 3 with a reproducible example if this is not the case.

[2018-09-22 10:42] #405 closed

[2018-09-22 11:43] jonmmease commented on #566
Thanks @empet

I'm not able to reproduce this from the gist notebook above.  For one thing, the surface plot doesn't show up at all.  I think this *might* be because of this line `phi= np.linspace(pi, pi, N)`.  Is that intended to be `phi= np.linspace(o, pi, N)`?  If you're interested in posting your updated notebook I'm happy to look into it some more.

[2018-09-22 11:45] jonmmease commented on #429
The reference posted here maps to a pandas operation.  If you're interested in updating this, please add a reference to the matplotlib documentation for the function you're talking about. Thanks!

[2018-09-22 11:48] jonmmease commented on #430
Going to close this since the recommended way to update existing figures with new data is to either use `FigureWidget` in the notebook or Dash in a standalone web application.

[2018-09-22 11:49] jonmmease commented on #445
The offline latex/MathJax issues are going to be resolved by plotly/plotly.js#2994 and #1169. Follow along if you're interested!

[2018-09-22 11:54] jonmmease commented on #447
As of 3.2.1 the follow error message is returned

[code]

[2018-09-22 11:54] #447 closed

[2018-09-22 11:58] #449 closed

[2018-09-22 11:58] #454 closed

[2018-09-22 12:01] jonmmease commented on #487
Closing as it looks like this discussion ran its course. Feel free to open a new issue if there are remaining loose ends to document.

[2018-09-22 12:01] #487 closed

[2018-09-22 12:06] jonmmease commented on #502
Closing as I'm unable to reproduce the issue with version 3.  Feel free to open a new issue against version 3 if you're still having trouble with this.

[2018-09-22 12:06] #502 closed

[2018-09-22 12:07] #503 closed

[2018-09-22 12:08] jonmmease commented on #506
Closing as I'm unable to reproduce this issue. Feel free to open a new issue against version 3 if this is still a problem for anyone.

[2018-09-22 12:08] #506 closed

[2018-09-22 12:35] jonmmease commented on #512
Closing as plots displayed using `FigureWidget` in the classic notebook or JupyterLab do autoresize with their container, as do offline iplot figures in JupyterLab using the [@jupyterlab/plotly-extension](https://github.com/jupyterlab/jupyter-renderers/tree/master/packages/plotly-extension).  Resizing for offline `iplot` figures in the classic notebook is going to be looked at for version 3.4 (htt

[2018-09-22 12:35] #512 closed

[2018-09-22 12:45] jonmmease commented on #522
Going to close this here as any changes to trace options would need to be handled in the Plotly.js project (https://github.com/plotly/plotly.js).  Feel free to open an issue there if you're still interested.

[2018-09-22 12:45] #522 closed

[2018-09-22 12:46] #535 closed

[2018-09-22 12:51] jonmmease commented on #558
I just tried this using the orca image export support introduced in version 3.2, and it works!

![3d_xs](https://user-images.githubusercontent.com/15064365/45917410-81d3e000-be44-11e8-9bde-944d75a91af8.png)

[2018-09-22 12:51] #558 closed

[2018-09-22 12:52] jonmmease commented on #559
I'm going to close this since it's more of a question than an issue. Feel free to post a question to the forums (https://community.plot.ly/c/api/python) if you're still interested in exploring this idea!

[2018-09-22 12:52] #559 closed

[2018-09-22 12:54] jonmmease commented on #560
Hi @brovercleveland , I'm going to close this here as it's more of a discussion topic than an issue.  Feel free to start a discussion on the forums (https://community.plot.ly/c/api/python) if you're still interested in pursuing this!

[2018-09-22 12:54] #560 closed

[2018-09-22 12:55] #568 closed

[2018-09-22 12:58] jonmmease commented on #571
I'm going to close this here for now, because the plotly.py doc strings are auto-generated from the documentation in the Plotly.js library.  Feel free to open an issue against this repo if you're still interested (https://github.com/plotly/plotly.js). Thanks!

[2018-09-22 12:58] #571 closed

[2018-09-22 12:59] jonmmease commented on #573
The version 3 `FigureWidget` replaces the `GraphWidget` functionality and is fully offline compatible.

[2018-09-22 12:59] #573 closed

[2018-09-22 13:01] jonmmease commented on #578
All supported colorscales are now listed in the docstring for each colorscale property.

e.g. for `contour.colorscale`
[code]

[2018-09-22 13:01] #578 closed

[2018-09-22 13:07] jonmmease commented on #591
I think the best way forward here would to create a graph/di_graph figure factory.  Arrows could be drawn with annotations, or they could be simulated with `scatter` traces as they are in the [`create_quiver`](https://plot.ly/python/quiver-plots/) figure factory.

If we input a NetworkX graph directly, we could also do some interesting things with the node/edge metadata.  e.g. coloring nodes again

[2018-09-22 13:09] jonmmease commented on #592
Going to close this for now due to inactivity. But feel free to provide a full reproducible example and then I'm happy to reopen. Thanks!

[2018-09-22 13:09] #592 closed

[2018-09-22 13:30] jonmmease commented on #608
This appears to be working properly with plotly.py 3.2.1

[code]
![newplot](https://user-images.githubusercontent.com/15064365/45917739-04ab6980-be4a-11e8-91b1-f005a5c2ab30.png)

Feel free to open a new issue against version 3 if you are still experiencing issues.

[2018-09-22 13:30] #608 closed

[2018-09-22 13:31] jonmmease commented on #627
Closing since `FigureWidget` has replaced the functionality of `GraphWidget` in version 3. We're still in the process of getting the documentation updated unfortunately.

[2018-09-22 13:31] #627 closed

[2018-09-22 13:36] jonmmease commented on #638
This functionality is now available in version 3 with `FigureWidget`

[2018-09-22 13:36] #638 closed

[2018-09-22 13:36] jonmmease commented on #649
Closing as automatic retrying logic was added to version 3

[2018-09-22 13:36] #649 closed

[2018-09-22 13:37] #659 closed

[2018-09-22 13:41] jonmmease commented on #690
Going to close this here since this is an issue that would need to be addressed in the Plotly.js library (https://github.com/plotly/plotly.js). Feel free to open a new issue there if you still experience this problem with the current version of plotly.py

[2018-09-22 13:41] #690 closed

[2018-09-22 13:57] jonmmease commented on #696
This change looks reasonable to me, independent of the details of ipython's interactions with IIS, so I'm fine adding this.

[2018-09-22 13:58] empet commented on #566
@jonmmease,
[code]
Perhaps the  minus was lost when I copied the notebook and pasted its contents into that gist.

[2018-09-22 14:19] jonmmease commented on #715
A geographic heatmap figure factory would be really nice!

[2018-09-22 14:37] jonmmease commented on #716
In case anyone here is still interested, here's a quick proof-of-concept of how to display a plotly figure in a pyqt5 context.  This uses `QWebEngineView`, which is a full chromium based browser and it seems to support everything plotly.js needs (including WebGL).

[code]

[2018-09-22 14:37] #716 closed

[2018-09-22 14:44] jonmmease commented on #722
Going to close this here since this is something that would need to be discussed on the plotly.js side (https://github.com/plotly/plotly.js).  Feel free to open an issue there if you're still interested in discussing this!

[2018-09-22 14:44] #722 closed

[2018-09-22 14:55] ghtmtt commented on #716
Hi @jonmmease thanks for the code snippet. Actually on Linux OS (I'm on Debian Sid, but I'm sure the same problem happens also with Ubuntu's, https://askubuntu.com/questions/763612/importerror-no-module-named-pyqt5-qtwebenginewidgets), `QWebEngineView` is not available by default and, AFAIK you have to compile it by yourself.

[2018-09-22 14:57] jonmmease commented on #724
I'm not able reproduce this with version 3, it looks to me like the same hover info is appearing in offline mode now. Feel free to open a new issue against version 3 if you're still having trouble.

[2018-09-22 14:57] #724 closed

[2018-09-22 14:59] jonmmease commented on #730
Please follow the detailed instructions in the plotly.py README (https://github.com/plotly/plotly.py) for getting plotly.py working in the Jupyter notebook and in JupyterLab.  I'm going to close this for now, but feel free to open a new issue against the current versions of everything if you're still having trouble.

[2018-09-22 14:59] #730 closed

[2018-09-22 15:01] jonmmease commented on #736
Closing since programmatic static image export is now supported in version 3.2 through the orca project  🎉   This is now the recommended approach to static image export from plotly.py.

[2018-09-22 15:01] #736 closed

[2018-09-22 15:05] jonmmease commented on #740
As of version 3, importing plotly no longer performs any network connectivity, but the import time is still 1-2 seconds due to the number of code-generated files that are now present in the `plotly.graph_objs` hierarchy. I'm not sure how much we'll be able to optimize this, but I'll leave this issue open with the performance label to remind us to give it another pass at some point.

[2018-09-22 15:16] jonmmease commented on #716
Yeah, as I understand it `QWebEngineView` is a bear to package.  I installed `Qt`/`pyqt` using conda on OS X and it was included. I believe the same would be true when using conda on Linux.  Not sure about windows though.

[2018-09-22 15:27] jonmmease commented on #746
Just tried this out on plotly.py 3.2.1 and I don't see this issue anymore.

[code]
![newplot 1](https://user-images.githubusercontent.com/15064365/45918810-64117580-be5a-11e8-941d-7b0666de06db.png)

[2018-09-22 15:27] #746 closed

[2018-09-22 15:45] #766 closed

[2018-09-22 15:56] jonmmease commented on #767
Hi @Mageswaran1989, the issue here is that the value of `'marker.size'` in your restyle command needs to be a list that contains the list of sizes.

e.g.
[code]

Hope that helps!

[2018-09-22 15:56] #767 closed

[2018-09-22 16:04] jonmmease commented on #773
I'm afraid I'm not going to be able to help you debug through this one. If you're still interested in this, could you use `plotly.offline.plot` instead?  This way there wouldn't be any network connection required to the plot.ly servers.

[2018-09-22 16:13] jonmmease commented on #795
Hi @DrizztVD , if you're still interested in working through this could you update your code to plotly.py version 3.2+?  I tried it and hit a bunch of property validation failures (e.g. marker size specified as a string, etc.).

Also, it would be helpful if you could remove the commented code blocks and reduce the example to be as small and simple as possible, while still demonstrating the issue.

[2018-09-22 16:29] jonmmease commented on #803
Going to close this here since `'reversed'` autorange support would need to be implemented in Plotly.js first (https://github.com/plotly/plotly.js).  Feel free to search the issues there and open a new one if this use case isn't covered yet. Thanks!

[2018-09-22 16:29] #803 closed

[2018-09-22 16:30] jonmmease commented on #813
`scattergl` and `scatter` traces types are now able to share the same axes.

[2018-09-22 16:30] #813 closed

[2018-09-22 16:38] jonmmease commented on #815
To set the camera up direction you need to set the `layout.scene.dragmode` property to `'orbit'`, rather than the default value of `'turntable'`.  The turntable drag mode forces `z` to be up by definition, so this is overriding the specified up vector

[code]
![newplot 2](https://user-images.githubusercontent.com/15064365/45919505-53fe9380-be64-11e8-8297-21573c440aad.png)

[2018-09-22 16:38] #815 closed

[2018-09-22 16:47] jonmmease commented on #816
Good observation! I *think* we can just use something less common for our `window.Plotly` variable in `init_notebook_mode()`.

[2018-09-22 16:48] jonmmease commented on #817
This class is available in version 3 as `plotly.graph_objs.layout.Shape`

[2018-09-22 16:48] #817 closed

[2018-09-22 16:54] jonmmease commented on #823
Thanks for the GIF, it looks like there was a bug in that the suffix was not being displayed.  Here's the current behavior, which is the intended behavior:

![smallhover](https://user-images.githubusercontent.com/15064365/45919626-5104a280-be66-11e8-9e07-8eb9ce036186.gif)

Note how the SI suffix is appended as the value gets closer and closer to 0.

As @empet mentioned, this can be customized usin

[2018-09-22 16:54] #823 closed

[2018-09-22 16:55] jonmmease commented on #825
As of version 3.2.1, neither of these imports raise import errors for me.

[code]
I'm going to close this for now, but feel free to open a new issue against version 3 if you're still having trouble with this. Thanks!

[2018-09-22 16:55] #825 closed

[2018-09-22 17:04] jonmmease commented on #873
Just to clarify, you're pointing out that the printed grid information in this case has a cell labeled `(empty)` rather than `|`?

[2018-09-22 21:45] jonmmease commented on #839
Without some updates in Plotly.js I don't think we'll be able to support general variable width lines, but I think the graph use-case is common enough to warrant a dedicated figure factory. See https://github.com/plotly/plotly.py/issues/591 for some related discussion of the directed graph use-case.

My idea for implementing the variable edge widths in the figure factory would be to discretize the

[2018-09-22 21:50] jonmmease commented on #842
I *think* this is something that can already be accomplished by grouping tasks per job (https://plot.ly/python/gantt/#group-tasks-together).  Do you agree?

[2018-09-22 21:54] jonmmease commented on #853
Hi @lordlycastle, are you still interested in working through this?  If so, could up update your code with version 3.2+ and post it here? (The gist link in your original post is broken now).  If you're not interested that's fine and we can go ahead and close this.  Thanks!

[2018-09-22 21:59] jonmmease commented on #855
@alexcjohnson I feel like this has been discussed recently on the plotly.js side but I can't find the issue. Does this ring a bell?

[2018-09-22 22:03] jonmmease commented on #874
Duplicate of https://github.com/plotly/plotly.py/issues/520

[2018-09-22 22:03] #874 closed

[2018-09-22 22:10] jonmmease commented on #903
I'm not sure I can picture what you have in mind by sharing the same data source across figures.  If you're still interested in discussing this, could you add some code for a couple of figures that would have the opportunity to share data?

[2018-09-22 22:17] jonmmease commented on #913
Yes, the `Description` field adds hover information to the tooltip.

[code]
Hope that helps!

[2018-09-22 22:17] #913 closed

[2018-09-22 22:32] jonmmease commented on #917
Hi @MPJansen, I got this working with version 3.2.1 with the following changes:

 1. First element of colorscale tuples should be numbers instead of strings
 2. `type` string should be all lowercase (`'mesh3d'`)
 3. The `type` string is needed in the frame definitions so that the properties can be validated
 4. I set explicit colorscale min.max values (`cmin` and `cmax`) so that the color scale do

[2018-09-22 22:33] #917 closed

[2018-09-22 22:40] jonmmease commented on #930
Hi @bastings, thanks for the report! This would need to be handled in Plotly.js, so I'm going to close this as a duplicate of https://github.com/plotly/plotly.js/issues/1516, where there's been quite a bit of discussion on this already.  Feel free to add to that issue if you have concerns/use-cases that aren't covered. Thanks!

[2018-09-22 22:40] #930 closed

[2018-09-22 22:42] jonmmease commented on #935
Hi @CermakM , thanks for taking the time to report this. I'm going to close this since the functionality of `GraphWidget` has since been replaced by the much more capable `FigureWidget` in version 3.  Thanks!

[2018-09-22 22:42] #935 closed

[2018-09-22 22:49] jonmmease commented on #937
Thanks for the report @paolocavagnolo.  Yeah, that tutorial needs to be updated for Python 3. I've opened an issue in the documentation repo here https://github.com/plotly/documentation/issues/1099. Thanks again!

[2018-09-22 22:49] #937 closed

[2018-09-22 22:50] jonmmease commented on #944
@Kully , can we close this, or is there anything more to do here?

[2018-09-22 22:55] jonmmease commented on #945
When I try this example with version 3.2.1 I do see contour lines in both `'normal'` and `'tozero'` range modes. Could you give it another try with version 3.2+?  Hopefully it's just a bug that's been fixed in Plotly.js in the meantime 🙂

[2018-09-22 23:01] jonmmease commented on #952
Hi @michalkahle , I'm not able to reproduce this issue with plotly.py 3.2.1 in firefox or chrome.  Could you give it a try once more with the latest plotly.py?  If you still have the problem, I'd like to see if we can translate it into pure JavaScript to get something for the plotly.js folks to look at. Thanks!

[2018-09-22 23:01] jonmmease commented on #963
Closing as this was fixed before 3.0.0 final was released

[2018-09-22 23:01] #963 closed

[2018-09-22 23:03] jonmmease commented on #965
Hi @aidan-plenert-macdonald , thanks for your interest in testing 🙂  The tests have been reworked quite a bit since the version 3 release. If you're still interested, could you give it a try again with the current master?

[2018-09-22 23:08] jonmmease commented on #965
Actually, I think the issue is the `python setup.py test` command. We run our tests using a combination of `nosetests` and `pytest`. See commands in `tox.ini`.  That said, it would be nice if `python setup.py test` did the right thing, but I haven't looked into how to configure this.

[2018-09-22 23:32] jonmmease commented on #993
Hi @ArshiyanAlam , thanks for the report. Could you try to reproduce this using version 3.2+, and without using cufflinks? Thanks!

[2018-09-22 23:34] jonmmease commented on #995
Work underway by @Elpiro in https://github.com/plotly/plotly.py/pull/1075.  Please take a look if you have a chance. Thanks!

[2018-09-22 23:36] jonmmease commented on #998
Hi @LevavasseurYann , to display plots in JupyterLab using `iplot` you need to install the `@jupyterlab/plotly-extension` extension. See instructions in the README at https://github.com/plotly/plotly.py for details.  Thanks!

[2018-09-22 23:36] #998 closed

[2018-09-22 23:39] jonmmease commented on #1001
Hi @milicag , could you add an example of code using the public API that hits this error?

The public `offline.iplot` method guards against this with `config = dict(config) if config else {}` before calling the internal `_plot_html` method.  Thanks!

[2018-09-22 23:48] jonmmease commented on #1003
Hi @mrcartier, if you're still interested in this issue could you please post a small example that we can use to reproduce what you're seeing?  The example should include the data and imports and it should use plotly.py only (not Dash as well).  Thanks!

[2018-09-22 23:53] jonmmease commented on #1008
Hi @jjnurminen , I just tried this out with version 3.2.1 and I'm not seeing the issue in your screenshots above. If you're still interested, could you give it another try with version 3.2+?  Thanks!

[2018-09-22 23:55] jonmmease commented on #1009
Hi @viniciusrpb , the structure of the project was significantly reworked in version 3. Could you try this again with version 3.2+?  Thanks!

[2018-09-22 23:58] jonmmease commented on #1010
Selection callbacks are now supported with `FigureWidget` in version 3.  See the `on_selection` callback registration function on each trace type.  And here's a data brushing example that uses this https://github.com/jonmmease/plotly_ipywidget_notebooks/blob/master/notebooks/iris_dashboard.ipynb

[2018-09-22 23:58] #1010 closed

[2018-09-23 00:02] andyneer commented on #1010
Oi Rafa,

olha, acho que agora tem como exportar os dados clicando no botão no plotly!
O cara do fórum me respondeu 😊

Beijos
________________________________
From: Jon Mease <notifications@github.com>
Sent: Saturday, September 22, 2018 8:58 PM
To: plotly/plotly.py
Cc: Andressa Apio; Mention
Subject: Re: [plotly/plotly.py] Export selection onClick (#1010)

Selection callbacks are now supported wit

[2018-09-23 00:05] jonmmease commented on #1013
I'm going to close this for now, but if you're interested in pursuing this further feel free to add the requested full example that we can run to replicate the problem.  Thanks!

[2018-09-23 00:05] #1013 closed

[2018-09-23 00:08] jonmmease commented on #1015
Hi @MichaelHalfon, if you're still interested in pursuing this could you try to replicate the problem with plotly.py version 3.2+ and a recent version of JupyterLab?  We would also need a sample notebook that produces the problem.  There are some browser-based limitations regarding the number of webgl contexts available, but this limit should be higher than 4 or 5.  Thanks!

[2018-09-23 00:10] jonmmease commented on #1019
No it doesn't.  I'm going to close this here since new trace types would need to be added by the Plotly.js project first (https://github.com/plotly/plotly.js), but feel free to discuss this over there. Thanks!

[2018-09-23 00:10] #1019 closed

[2018-09-23 00:15] jonmmease commented on #1020
Hi @chessybo, we're going to use this issue to track the possibility of adding a new feature to the `create_choropleth` figure factory.

If you're having trouble using this figure factory at all, please make sure that you have plotly.py 3.2 installed. Then if you are still having trouble, please open a new issue. Thanks!

[2018-09-23 00:15] jonmmease commented on #1022
Done!

[2018-09-23 00:15] #1022 closed

[2018-09-23 02:12] chessybo commented on #1020
@jonmmease

It was installing into the “pkgs” directory for some reason, I just just copy/pasted the modules over.

Also you need to make a way to outline the state I scoped in on without outlining the counties. Currently any attempt to do that results in nothing happening.

😁 thank you and pretty please

[2018-09-23 05:09] milicag commented on #1001
I see, that explains it. I think I was calling `_plot_html` on `data`, with `[None]` passed for `config`, not through `iplot(data)`, something like:
[code]

[2018-09-23 10:12] #1001 closed

[2018-09-23 10:26] jonmmease commented on #1027
Thanks for digging into this @MichaelHalfon and @rysktky.  @rysktky 's solution above is the right way to handle this in `offline.iplot` in the classic notebook, and in `offline.plot` from anywhere.

For `offline.iplot` in JupyterLab things work a bit differently, in this case plotly.py doesn't construct the raw HTML to render the figure, but instead passes the `data`/`layout`/`frames` data struct

[2018-09-23 10:30] jonmmease commented on #1036
I'm going to close this here for now, but feel free to open a discussion issue with the plotly.js project (https://github.com/plotly/plotly.js) so we can work through this with that team. Thanks!

[2018-09-23 10:30] #1036 closed

[2018-09-23 10:35] jonmmease commented on #1047
I'm going to close this here for now, but if you're still interested in this please open a corresponding issue with the plotly.js project (https://github.com/plotly/plotly.js).  Thanks for taking the time to write up the suggestion!

[2018-09-23 10:35] #1047 closed

[2018-09-23 10:37] jonmmease commented on #1077
I'm going to close this for now, but we can reopen if you're still interested and have time to provide a minimal example that demonstrates the problem.  Thanks!

[2018-09-23 10:37] #1077 closed

[2018-09-23 10:38] jonmmease commented on #1081
Done in #1149

[2018-09-23 10:38] #1081 closed

[2018-09-23 10:43] jonmmease commented on #1119
@tarzzz just following up. Has this been deployed to public cloud yet?

[2018-09-23 10:53] jonmmease commented on #1131
plotly.py 3.3 is going to include plotly.js 1.41 which includes the new `barpolar` trace type (https://github.com/plotly/plotly.js/pull/2954). This is the much more capable successor to the polar area traces used in this example.

[2018-09-23 11:00] jonmmease commented on #1139
Fixed in https://github.com/plotly/plotly.js/pull/2992. And it looks like this will line up for inclusion in plotly.py 3.4

[2018-09-23 11:02] jonmmease commented on #1143
Hi @Kkevsterrr , are you still interested in working through this? If so, could you add a full example? Thanks!

[2018-09-23 11:07] jonmmease commented on #1173
Hi @didopop3 , looking at your plots more closely I think you were running into https://github.com/plotly/plotly.py/issues/1160, which was fixed by https://github.com/plotly/plotly.py/pull/1163 and released in 3.2.1.  Could you give this version a try and see if it resolves the problem?

Thanks!

[2018-09-23 11:12] rr5577 commented on #1131
Thanks for the update, looking forward to trying it!

[2018-09-23 11:35] jonmmease commented on #1020
@chessybo , as requested above please do not post to this issue thread again unless your comment is related to customizing choropleth hover text. Also, please don't tell an open source maintainer what they "need" to do.  We value constructive feedback and feature requests, but feature demands will be largely ignored.  Thanks for your understanding.

[2018-09-23 12:57] chessybo commented on #1020
@jonmmease I didn’t “demand” anything. I said please.

You requested IF I was still having trouble to open a new issue. I was not still having trouble. So I did not open a new issue. therefore your statement that you “requested above to not post about anything unrelated to create_choropleth” is not true, you never made that specific request.

Also, please don’t make untrue statements on Github, th

[2018-09-23 12:57] Juanlu001 commented on #1033
Yes! Please read my comment here:

https://github.com/rtfd/readthedocs.org/issues/4367#issuecomment-423814712

[2018-09-23 12:59] jonmmease commented on #224
Cannot reproduce, and I don't think this storage approach is still in use.

[2018-09-23 12:59] #224 closed

[2018-09-23 13:07] alexcjohnson commented on #855
Yes, a fix for this (including bar charts) was included with the stacked area PR https://github.com/plotly/plotly.js/pull/2960 (https://github.com/plotly/plotly.js/commit/2fde3dc183522879aaacca41f9aa6a453ea31162, https://github.com/plotly/plotly.js/pull/2960#discussion_r215002702). That was merged in plotly.js v1.41.

[2018-09-23 13:11] martin-drozdik commented on #1047
I am sorry, I procrastinated this out of existence. I will open the issue on plotly.js. Thanks!

[2018-09-23 13:12] jonmmease commented on #855
Great! So that will come along in plotly.py 3.3

[2018-09-23 13:56] jonmmease commented on #1020
@chessybo Since it seems there has been some misunderstanding here, and this subthread is not helpful for the public record of this issue, I'm going to go ahead and delete our exchange from this issue.  Feel free to open a new issue describing your request above and we can start a new discussion in good faith. Thanks

[2018-09-23 14:05] tarzzz commented on #1119
@jonmease yes, we can close this now .. !!

[2018-09-23 14:18] #1119 closed

[2018-09-23 16:31] Kully commented on #944
Yes we can closed. Already addressed.

[2018-09-23 16:31] #944 closed

[2018-09-23 22:42] jonmmease commented on #663
Done in https://github.com/plotly/plotly.py/pull/1188

[2018-09-23 22:42] #663 closed

[2018-09-24 13:28] jhmenke opened #1193 "deepcopy of dict with scatter.Line fails"
while creating a Figure, which contains several scatter.Line elements, there is an error in the current plotly release (installed via pip):

StackTrace:

Minimal example:
[code]

am i doing something wrong or is this a bug?

[2018-09-24 14:35] sursu opened #1194 "Misplaced title position in subplot"
Hi,

I think this is an issue:

I'm trying to reproduce the plot obtained from `In[4]` [here](https://www.statsmodels.org/dev/examples/notebooks/generated/markov_autoregression.html).

First, I chop the `usrec` time series to the period of interest.
[code]
Plotting is done with:
[code]
Output:
![newplot 3](https://user-images.githubusercontent.com/12001304/45958267-4fc6a780-c017-11e8-8745-bb3b1e62

[2018-09-24 15:05] lordlycastle commented on #873
@jonmmease Yes.

[2018-09-24 15:05] #853 closed

[2018-09-24 15:47] jjnurminen commented on #1008
Thanks @jonmmease

I just updated to 3.2.1. If I change to `yval = 1e3` in the code above, I get the following:

![newplot](https://user-images.githubusercontent.com/8491321/45962699-22cfc000-c02a-11e8-824c-85aa074dfb7f.png)

So it's screwed up in slightly different way.

[2018-09-24 16:53] cldougl commented on #1189
@Kully can you provide more information like what the error message is? Furthermore, can you test if this is an issue with version 3+ or did this work in plotly.py 2.7?

[2018-09-24 17:33] rgbkrk commented on #748
We're working on the widgets + plotly support @jonmmease!

I'll double check with the latest release, in case the media type (mimetype) plotly stuff isn't there.

cc @jdfreder

[2018-09-24 18:14] jonmmease commented on #748
plotly+widgets support in nteract sounds awesome!  I'll reopen until you have a chance to double check that nteract has what it needs in the display bundle from `iplot` when `init_notebook_mode` isn't called.

[2018-09-24 18:28] jonmmease commented on #1193
Hi @jhmenke, thanks for taking the time to write this up!  deepcopy on figures and `graph_objs` isn't supported *quite* yet (as you can see 🙂). But it's something I'm actively working on for 3.3.0 (See https://github.com/plotly/plotly.py/pull/1191).

Here's the output of your minimal example using that branch:
[code]
[code]

[2018-09-24 19:16] cldougl commented on #1189
this issue will also affect `py.icreate_animations` https://plot.ly/python/animations/#online-mode

[2018-09-24 21:43] Kully commented on #1189
`PlotlyRequestError: Bad API key`

Even making a get request under the same domain returns the same error:

[code]

[2018-09-24 21:43] Kully commented on #1189
I've checked versions 2.7 and 3.5 - it is an issue in both of them

[2018-09-24 23:26] dabana commented on #1187
I have opened a pull request regarding only the scaling of the arrows for now by passing a `scaleratio` parameter to the `create_quiver` function.

I have not worked on the widget callback option yet. I still have problem making widgets work on my dev environment.

Here is the result with `scaleratio` = 1:

![fig3](https://user-images.githubusercontent.com/29574757/45984582-b8218300-c02f-11e8-982e

[2018-09-24 23:53] jonmmease commented on #771
Ok, so here's the back story on the `nbformat` dependency.  It was added in response to the problem reported in #692, where notebooks using the offline `iplot` support would result in validation failures if the version of nbformat was <4.2.

I feel comfortable removing this dependency now because our [jupyter installation instructions](https://github.com/plotly/plotly.py#jupyter-notebook-support)

[2018-09-24 23:58] chriddyp commented on #771
I'm OK with keeping it in. Not everyone follows the instructions and we really do need that minimum  version.

[2018-09-25 00:19] jonmmease commented on #771
Ok, yeah. it's probably not worth risking a regression by changing this. This is a tricky problem in general for us now though. We also need ipywidgets >7 for `FigureWidget` to work, but this is currently *not* a dependency because that would make the entire Jupyter Notebook a dependency.

On the conda side there is a [`run_constrained`](https://github.com/conda/conda/blob/master/CHANGELOG.md#new-

[2018-09-25 00:19] #771 closed

[2018-09-25 05:48] jhmenke commented on #1193
The thing is, i'm not trying to copy anything manually. The deepcopy is inside the plotly file graph_objs_figure.py, i'm just trying to create a Figure.

[2018-09-25 10:32] jonmmease commented on #1193
Oh ok, I expect this will fix that problem as well. But just to be sure, could you add a full example that produces the error while constructing a `Figure`? Thanks!

[2018-09-25 10:41] jonmmease commented on #1194
Hi @sursu ,

What's happening here is that `make_subplots` converts the `rows`/`cols` specification into a `domain` for each of the axes in each subplot. Then it positions annotations as titles based on these axis locations.  When you update the domain property for `yaxis` and `yaxis2` this shifts the bottom subplot upward, but doesn't move the title annotation.

Does the axis title line up if you

[2018-09-25 11:13] jhmenke commented on #1193
sure. here is the data file for the example below: [pdump.zip](https://github.com/plotly/plotly.py/files/2414933/pdump.zip)

[code]

[2018-09-25 19:06] T4rk1n opened #1199 "Difficulties with cx_Freeze and plotly.py"
Trying to cx_Freeze a dash app, I get errors that it cannot import `pkg_resources` in https://github.com/plotly/plotly.py/blob/f727c465d1606e667444db9130a3d0b8e70336f6/plotly/offline/offline.py#L11.

From a google search, seems like `pkg_resources` is hard to include with cx_Freeze and most solutions requires editing the site-package libs that use `pkg_resources`. I was only able to get past the p

[2018-09-25 19:40] jonmmease commented on #1199
I'm definitely open to considering this, but I would need to understand the background a bit more.  In particular, are there any situations where `pkg_resources.resource_string` and `pkgutils.get_data` don't return the same thing?

@chriddyp Do you recall any background on how plotly.py ended up using `pkg_resources` and dash ended up using `pkgutils`.

[2018-09-25 19:41] dabana commented on #1187
@jonmmease I am having trouble making the [FigureWidget callback example](http://nbviewer.jupyter.org/github/jonmmease/plotly_ipywidget_notebooks/blob/master/notebooks/DataShaderExample.ipynb) work. When I try to zoom in on the last figure, the one with the callback, it does not redraw the image. I suppose it should redraw an image with many points when I zoom in? Right? But it just zooms in the i

[2018-09-25 19:58] Kully commented on #1189
I've been digging deeper into this bug and this is what I have so far.
---
To really figure out what's going on, I am testing a regular pro account against an on-prem account. I am making a bare bones `get` request to USERS endpoint of v2 since that is where the problem lies (iplot and plot work fine for on-prem users AFAIK)

[code]

The issue seems to be hovering around the authorization key that

[2018-09-25 20:33] T4rk1n commented on #1199
@jonmmease I just tested and they return the same thing, they both resolve the content by using the appropriate loader. The difference is that `pkg_resources` is part of `setuptools` whereas `pkgutil` is stdlib.

[2018-09-25 20:43] chriddyp commented on #1199
I don't recall. Probably the result of google searches for both cases. They were done a few years apart from each other so I'm not surprised that they are different.

[2018-09-25 22:17] thatneat opened #1200 "Multiple Y axes: only one scatterplot renders"
This may be an issue in plotlyjs - if so, please point me to the right place.

When plotting data on multiple Y axes, particularly when nothing is plotted on the primary Y axis, sometimes plotly will only show one series.

## Example code

[code]

## Expected behavior

Two series are plotted

## Actual behavior

Two series show up in the legend, but only one series is plotted:
![image](https://use

[2018-09-25 22:45] jonmmease commented on #1199
Thanks @T4rk1n , after looking into this a bit this does seem like a pretty benign change, and if it helps with cx_Freeze compatibility I'm all for it.  This is also as good a time as any as I'm about to run through a bunch of manual notebook testing for the 3.3 release.  See PR in #1201.  If all goes well this will be in 3.3 in a few days.

[2018-09-25 23:14] thatneat commented on #1200
I found another workaround - simply place a blank, invisible annotation on axis 1:
[code]
This also causes both scatterplots to display correctly.

[2018-09-25 23:18] #765 closed

[2018-09-26 15:49] tim-sauchuk opened #1203 "Secret Links Upload Time (Python Online)"
It seems that secret links take significantly longer to upload than public or private. On average, my plots (regardless of complexity) will take 8 seconds to upload. Secret dashboards take even longer to upload, on average about 130 seconds for a dashboard with 8 plots.

[2018-09-26 15:59] T4rk1n commented on #1199
Thanks

[2018-09-26 15:59] #1199 closed

[2018-09-26 19:30] jonmmease commented on #855
Done in upgrade to plotly.js 1.41.3 in #1202
![screen shot 2018-09-26 at 3 28 41 pm](https://user-images.githubusercontent.com/15064365/46104281-01451480-c1a1-11e8-8b49-17cedcebf507.png)

[2018-09-26 19:30] #855 closed

[2018-09-26 19:31] jonmmease commented on #1181
Done in #1186. Thanks @444thLiao!

[2018-09-26 19:31] #1181 closed

[2018-09-26 19:39] jonmmease commented on #1131
`barpolar` trace included in upgrade to plotly.js 1.41.3 in #1202, will be released in plotly.py 3.3.0 soon.

[code]
![newplot 4](https://user-images.githubusercontent.com/15064365/46104582-b4157280-c1a1-11e8-8063-87d4bc953e10.png)

See https://github.com/plotly/documentation/issues/1100 for progress on updating the windrose documentation to use `barpolar`.  Thanks for reporting!

[2018-09-26 19:39] #1131 closed

[2018-09-26 19:51] jonmmease commented on #728
Done in https://github.com/plotly/plotly.py/pull/1195. With this, the `~/.plotly` directory is not created until credentials are explicitly set.

[2018-09-26 19:51] #728 closed

[2018-09-26 19:54] jonmmease commented on #533
Done in #1195. If present, the `PLOTLY_DIR` environment variable is taken as the path to the plotly.py configuration directory. If not present, the path remains `~/.plotly`.

I know it's been a while, but thanks for the suggestion @simon-zhu!

[2018-09-26 19:54] #533 closed

[2018-09-26 19:56] jonmmease commented on #1076
Done in #1195

[2018-09-26 19:56] #1076 closed

[2018-09-26 19:57] jonmmease commented on #1068
See #1195 for full resolution

[2018-09-26 19:58] jonmmease commented on #1165
Done in https://github.com/plotly/plotly.py/pull/1191

[2018-09-26 19:58] #1165 closed

[2018-09-26 19:59] jonmmease commented on #786
Closed by https://github.com/plotly/plotly.py/pull/1191 with the implementation of pickle support.

[2018-09-26 19:59] #786 closed

[2018-09-26 20:00] jonmmease commented on #579
Closed by #1191 with the introduction or proper `deepcopy`/`pickle` support for figures and `graph_objs`

[2018-09-26 20:00] #579 closed

[2018-09-26 20:04] jonmmease commented on #696
Done in #1192 .  I know it's been a while, but thanks for reporting and digging into the issue @bash-j!

[2018-09-26 20:04] #696 closed

[2018-09-27 06:06] jhmenke commented on #1193
thanks

[2018-09-27 20:04] jhxu0416 opened #1206 "Color exceed lines for fill in scatter3d"
In the 3d filled line example(https://plot.ly/python/3d-filled-line-plots/), the color does not fill the area within the line perfectly.

When I try some more curved and oscillating line, the fill result becomes worse by exceeding the line.
<img width="322" alt="screen shot 2018-09-27 at 4 01 46 pm" src="https://user-images.githubusercontent.com/24378622/46171603-fc4e9680-c26e-11e8-8ac7-0aab31bc70

[2018-09-27 23:31] rselvak6 commented on #1184
Hi @jonmmease,

Apologies for the delay in getting back to you.

There is still an error in Jupyter saying that `xvfb failed to start`. Please note the following:

`/bin/orca` :
![image](https://user-images.githubusercontent.com/7735922/46179837-0c1baa00-c272-11e8-810f-456fd42d3c9f.png)

Output from command window from typing `/bin/orca --help`:
![image](https://user-images.githubusercontent.com/7

[2018-09-28 00:16] jonmmease commented on #1184
Hi @rselvak6, I'm not sure that it's going to work to have the `sudo` command in your `/bin/orca` script. Could you remove `sudo` and try all of the above again?

[2018-09-28 00:37] rselvak6 commented on #1184
I removed `sudo` but the outcome is the same, so that didn't do it.. other suggestions?

[2018-09-28 16:10] pedroallenrevez opened #1207 "Integration with Datashader issues (on_change, layout.image updates)"
First and foremost, awesome job with the tool, it looks terrific.

Jumping right in on the issue, I'm trying to integrate plotly with datashader, following mostly this article right [here](https://plot.ly/python/change-callbacks-datashader/) .

So, as far as I know there are two solutions to this problem:
1. You keep updating the image itself (see `update_image` function below);
2. You keep updati

[2018-09-28 18:27] T4rk1n opened #1208 "Long install time from windows."
When `pip install plotly` from a windows machine, it takes anywhere from a minute to 5 minutes. From linux it took  no more than 10 seconds.

[2018-09-29 18:29] claria opened #1209 "tools.make_subplots with colspan/rowspan fails when using sharex/sharey"
Hi,
i am trying to create  subplots with colspan/rowspan attribute and shared_xaxes using the code below (Plotly 3.3). As soon as i use the shared_xaxes=True parameter, the code fails with the error message:

`Exception: Something went wrong. An axis object for (2,4) subplot cell got deleted.`

Example code:
[code]

Cheers,
Georg

[2018-09-29 18:50] empet commented on #1209
@claria,  Remove `shared_xaxes=True`, because the trace1 and trace 2, that are aligned vertically, do not have the same x range, to share xaxes.
After this change no error is displayed, and you'll get the plot.

[2018-09-29 19:05] claria commented on #1209
@empet Aah sorry, i put this minimal example together too quickly. If you change the x axes to overlap, e.g. of all traces to x=[1,2,3], the error remains. And yes, this error is specific to shared_xaxes=True

[2018-09-29 19:10] empet commented on #1209
@claria  The error persists, because the trace3 is not aligned vertically with no other trace to share xaxis.

[2018-09-29 19:39] empet commented on #1209
@claria, This case has the same drawback as the previous example:

![subplots_sharexaxes](https://user-images.githubusercontent.com/3627253/46249807-f6f07800-c437-11e8-8db3-cce4ccea5a9e.png)

I removed `shared_xaxes=True` to get this plot.  The traces 3 and 5  have common x-range, but there is
an empty cell above them. `shared_xaxes`, respectively `yaxes` work only  when on the corresponding colum

[2018-09-29 20:01] claria commented on #1209
@empet I could accept this as the expected behaviour if shared_xaxes=[[1,1],[2,1],[4,1]] would work so that i could use shared_axes at least for the first column. But this gives the same error message. I would expect this to be a common use case.

[2018-09-29 20:11] claria commented on #1209
Hi @empet, in the plot you showed with shared_xaxes=False, the y axes are shared without a problem. Even more strange. I can even add a subplot+trace in the upper right corner and the error with shared_xaxes=True persists.
[code]

[2018-09-30 06:58] claria commented on #1209
@empet, why are the ticks in the first column below the first upper most subplot, in the second column below the lowest one?

Let's summarize the behaviour:

- If you use colspan/rowspan you cannot use shared_{x,y}axes=True , but have to specify  the shared cols/rows.
- If you additionally have an empty cell somewhere, shared axes does not work at all.

[2018-09-30 16:41] empet commented on #1209
@claria
1)  The ticks are put  to the plot referenced to `xaxis`, `yaxis`, because
as we can see from the printed `Layout`:
[code]
that the cell  (1,1) is referenced to the `xaxis`, and `yaxis` and both have set the anchor `y`, respectively `x`.

With these updates:
[code]
the ticks are put to the lowermost cell.

2) `shared_xaxes`, `shared_yaxes` given as lists or lists of lists of tuples work  i

[2018-09-30 18:01] claria commented on #1209
@empet Thank you a lot for your advice. It is very much appreciated. Regarding 2) you are right, shared_axes given as lists work in subplots with empty cells.

Regarding the inconsistency of the axes, adding your fig.layout...='free' lines results in the following plot for me, which is clearly undesired:
![newplot](https://user-images.githubusercontent.com/1030408/46260834-9753a480-c4eb-11e8-88df-

[2018-09-30 19:39] empet commented on #1209
@claria  What is your Plotly version?  Here is a Jupyter Notebook [https://plot.ly/~empet/14993](https://plot.ly/~empet/14993) running Plotly 3.3.0, and it works with those `fig.layout` updates.

[2018-09-30 19:55] claria commented on #1209
Ah i checked if the behaviour was the same in Plotly 2.7 so i switched back and forgot to upgrade again. Thanks a lot for the hint!

[2018-10-01 10:39] jonmmease commented on #1200
Hi @thatneat ,

Thanks for the report, I see what you mean.  Yes, I think this is something we should move to the plotly.js repo at https://github.com/plotly/plotly.js/issues.  You can mention me in that plotly.js issue as well in case they have any questions on the Python side. Thanks!

[2018-10-01 11:05] jonmmease commented on #1206
Hi @jhxu0416 , thanks for the report. I added a comment to https://github.com/plotly/plotly.js/issues/2352 with my thoughts on what's going on.  In short, i think the issue here is with the example, not the library.

@empet, if you have a moment I'd be interested in your perspective on this.

[2018-10-01 13:43] Kully commented on #1203
I built the dashboards API and remember setting up the code logic turning plots into secret files. I'll look into this today and do some testing.

[2018-10-01 17:32] Kully commented on #1203
the `add_share_key_to_url()` function from `plotly.py` is nearly 100% to blame for the slow uploads when `sharing=secret`. There are a few components in the function slowing it down:

- ~0.8 sec v2 UPDATE (ensuring that share key is enabled)
- a 4 second buffer after hitting a v1 POST is occurring. At least one reason for it is because if you immediately hit v2 after creating the chart with v1, we

[2018-10-02 10:40] jonmmease commented on #1207
I don't think I quite follow what you're intending to happen in the `datashader_image` example.  When I run it I see the plot flash and automatically zoom in until no data is in view.  It looks like you're setting the axis ranges in the callback that response to axis range changes, which I wold expect to cause some problems like this.

[2018-10-02 11:30] jonmmease commented on #1184
To be honest I'm running out of ideas. It sounds like the Python runtime is somehow not sharing the same environment as your shell.  What does this Python command do?

[code]

[2018-10-02 12:12] empet commented on #1209
@jonmmease this issue can be closed.

[2018-10-02 22:07] #1209 closed

[2018-10-03 08:25] brylie opened #1210 "create_gantt missing parameter documentation"
The `figure_factory` `create_gantt` method takes several arguments. Most of the arguments are documented, but a couple of them have no documentation:

https://github.com/plotly/plotly.py/blob/2e5bf6e2f7c213295c405ece3e859f4d3f8030d1/plotly/figure_factory/_gantt.py#L584-L616

Please add missing documentation to this factory method.

[2018-10-03 08:28] brylie opened #1211 "create_gantt figure should be responsive"
The `figure_factory` `create_gantt` method outputs a figure with static dimensions. As most other Plotly charts are responsive, so should be the GANTT. Please allow the GANTT chart to be responsive to page/device dimensions, rather than expecting hard-coded width and height dimensions.

[2018-10-03 15:29] 100518832 opened #1212 "go.Scatter incorrect traceback message for color type error"
Trying to plot a scatter plot of points, total 40 colour groups, get the following trace-back that doesn't make sense.

[code]
ValueError:
    Invalid value of type 'builtins.str' received for the 'color' property of scatter.marker
        Received value: 'hsl(-4.999999999999993, 37.36842105263159%, 73.26315789473684%)'

    The 'color' property is a color and may be specified as:
      - A hex st

[2018-10-03 16:13] empet commented on #1212
@100518832 the error is caused by the negative value for hue in this color code:
`'hsl(-4.999999999999993, 37.36842105263159%, 73.26315789473684%)'`

[2018-10-04 03:07] thatneat commented on #1200
Thanks @jonmmease , I'll close this since it clearly occurs without plotly.py . As you can see above I filed plotly/plotly.js#3074

[2018-10-04 03:07] #1200 closed

[2018-10-04 10:15] jonmmease commented on #1210
Thanks for taking the time to report this @brylie, looks like the undocumented arguments are `tasks`, `task_names`, `data`, and `group_tasks`.

[2018-10-04 10:31] jonmmease commented on #1212
Hi @100518832, thanks for taking the time to bring this up.

Yeah, the issue is that plotly.py color validation is rejecting this color due to the negative *hue* value.  I tried this out with Plotly.js directly, and it looks like negative hue values are treated as 0 (See https://codepen.io/jonmmease/pen/vVGjjW), so I think the validation logic is correct.

So we could either open an issue to allow

[2018-10-04 11:19] alexcjohnson commented on #1212
Plotly.js makes an effort to support all legal CSS colors. According to the spec https://www.w3.org/wiki/CSS3/Color/HSL we should accept any hue:

But this is currently handled inconsistently by plotly.js. If I set both `paper_bgcolor` and `marker.color` to the same string `'hsl(-100,100%,50%)'`, the former works (violet) and the latter clips to hue=0 (red).

The issue seems to be in tinycolor (np

[2018-10-04 13:28] 100518832 commented on #1212
Hi Jon,

It is also worth noting the the hsl values were generated using colorlover.py, which is what is recommended when trying to color different traces on the same scatter plot. The coloring I did in my example was just following the notebook found here: [color pyplot notebook](https://plot.ly/ipython-notebooks/color-scales/), and this seems to be an issue of colorlover generating negative valu

[2018-10-04 13:38] alexcjohnson commented on #1212
Since we have no idea when tinycolor will get around to this (perhaps we could offer to contribute?) it's probably best to patch colorlover to keep hue within [0, 360].

[2018-10-04 14:41] thedatasleuth opened #1215 "Add Congressional Districts Geometry to Choropleth State and National Maps"
Hi,

I really like the county choropleth feature in Plotly, and I'm wondering if we can add congressional district geometries as a new feature.  I think there would be a lot of interest in this, especially with the upcoming elections.  Here are some shapefiles for congressional districts from the Census Bureau's website:  https://www.census.gov/geo/maps-data/data/cbf/cbf_cds.html to get started.

[2018-10-04 22:44] jonmmease commented on #1215
Hi @thedatasleuth, this would be awesome!  Feel free to make some suggestions for how the API might look.

Should it be an option in `county_choropleth` (though I suppose the name would be bit misleading in that case)?  I assume that the FIPS codes we use for counties would not be relevant to congressional districts. Is there a good analog for congressional districts?

[2018-10-05 04:31] Rimesh commented on #1031
Hi @jonmmease ,

It looks like the issue is still not resolved.
make_subplots breaks down at rows > 70

Here is an example code:

[code]

[2018-10-05 08:36] jonmmease commented on #1031
Hi @Rimesh, thanks for letting us know. Could you add the error message that you're seeing?

[2018-10-05 09:34] jonmmease commented on #1031
@Rimesh, I gave it a try and I don't see an error message, but I do see that the subplot y-axes start overlapping.  If this is what you're seeing as well, could you open a new issue? I think this is a different underlying issue.  Thanks!

[2018-10-05 11:23] Rimesh opened #1216 "plotly.tools.make_subplots() doesn't render correctly, y axis overlaps if rows > 70"
Subplots get jumbled if there are more than 70 rows.
Looks like y axis is getting overlapped and only one subplot is being rendered.

Here is an example code:

[code]

_Originally posted by @Rimesh in https://github.com/plotly/plotly.py/issues/1031#issuecomment-427243136_

[2018-10-05 11:56] gersteing commented on #932
I struggled with getting this to work so I developed a code example to share. Example provides automatic updates to the yaxis range when and x range slider is updated. Y axis is set to show only price range of bars that are in the chart with a two tick padding. This worked well for me and I can potentially add any number of trace overlays that I want on top of the chart. Plus, I can run it locally

[2018-10-06 04:01] pjgao opened #1217 "Can I display plotly figure in github readme?"
Hello, I want to display graph generated by plotly in jupyter notebook, Can I use markdown to achieve this goal?

[2018-10-06 10:53] jonmmease commented on #1187
Hi @dabana , could you try upgrading plotly and all of the other packages to match the current versions in the [README instructions](https://github.com/plotly/plotly.py#installation) and try again?

[2018-10-06 10:58] jonmmease commented on #1217
Hi @pjgao, you can display a figure in markdown as a static image (See https://daringfireball.net/projects/markdown/syntax#img). To create the static image, click the little camera button in the plot toolbar, or use the [static image export](https://plot.ly/python/static-image-export/) instructions from Python.  I don't know of any way to embed a live version of the plot in GitHub markdown.

And p

[2018-10-06 10:58] #1217 closed

[2018-10-07 16:46] javierggt opened #1218 "math module has no attribute 'isclose'"
I got the following error:

    if (math.isclose(float(dash_array[1]), 0.)):
AttributeError: 'module' object has no attribute 'isclose'

It turns out that math.isclose was introduced in version 3.4.6, so it seems there should be a version check here. Perhaps it is easier to use numpy.isclose (this is matplotlib, after all).

[2018-10-07 16:52] WolfLo commented on #952
Hi all, I can reproduce the same issue, with online plotting too.
Here are my specs:

- python 3.5.2
- plotly 3.2.1
- Ubuntu 16.04.4 LTS
- Firefox Quantum 62.0.3

[2018-10-08 10:06] jonmmease commented on #952
Thanks for the info @WolfLo ,
@michalkahle , could you let us know what operating system you're using? Thanks!
-Jon

[2018-10-08 10:31] WolfLo commented on #952
Is not **Ubuntu 16.04.4 LTS** a sufficient information about my operating system? what else do you need?
Thank s!

[2018-10-08 10:36] jonmmease commented on #952
Hi @WolfLo , yes that's sufficient. I was asking @michalkahle if he could share his info as well. Thanks!

[2018-10-08 11:03] jonmmease commented on #1207
Hi @pedroallenrevez , I think I figured out what's going on with your datashader image example.

First, as I mentioned above, the sizing mode should be `'stretch'`.  And this does work with date axes after all, the problem is a difference in time representation.  When expressed as integers, plotly.js needs time specified in milliseconds, rather than nanoseconds as is returned when a `datetime64` i

[2018-10-08 14:29] michalkahle commented on #952
Hi @jonmmease , sorry for taking long to respond. I just tried to upgrade do plotly.py 3.3.0 and the issue is still there. My OS is also Ubuntu 16.04. And now I also tested with Chrome 69 on Windows 7 (32bit) in a VM and the issue is not present there. :(

[2018-10-08 14:55] jonmmease commented on #952
Thanks @michalkahle!  Well maybe there is something about Ubuntu 16.04 here...

[2018-10-08 16:11] javierggt commented on #1218
Sure. Here it is:

[code]

[2018-10-08 16:12] javierggt commented on #1218
the key is the line format, if I do `plt.plot(x, y, "-k")`, it works.

[2018-10-08 21:57] mbkupfer opened #1219 "Add choropleth maps for metropolitan and non-metropolitan areas (MSA's)"
Any chance we can add an ability to create choropleth maps of United States Metro and non-Metro Areas. I feel that this could be done since there is already a county map and metro are simply supersets of counties. Here is the definition of metro areas provided by the BLS. [https://www.bls.gov/oes/current/area_definitions_m2017.xlsx](https://www.bls.gov/oes/current/area_definitions_m2017.xlsx)
 The

[2018-10-08 21:57] mbkupfer commented on #1215
#1219

[2018-10-09 00:36] thedatasleuth commented on #1215
Hi,  I've started to take a look at the zip file I downloaded located at the website I posted above.  It looks like congressional districts are uniquely defined, first by the column 'STATEFP' which is the same as the state FIPs code used for the county choropleth.  Within each state FIP code, there is another column 'CD115FP' which defines the congressional districts within each state.  I was able

[2018-10-09 00:49] mbkupfer commented on #1219
Found this shape file that could be used: https://www.census.gov/geo/reference/gtc/gtc_cbsa.html

Will follow up later with my initial findings.

[2018-10-09 04:06] mbkupfer commented on #1219
@jonmmease, follow up: I inspected the shape file and good news! The `GEOID` is a perfect match to the `AREA` column in the definitions file above. The CBSA file is (almost) a superset of the area definitions w/over double the amount of areas. That said, there are some areas, 50 to be exact that are in the definitions, that aren't covered in the CBSA. I did a set difference and provided them below

[2018-10-10 19:26] michaelbabyn opened #1220 "Incorrect Validation Error for layout.grid.subplots attribute"
I'm getting a validation `ValueError` when I try to set the `layout.grid.subplots` attribute. This attribute should accept a 2d list of the enumerated values ([see here](https://github.com/plotly/plotly.js/blob/master/src/components/grid/index.js#L54-L60)) but it is being limited to a single dimensional list of one element.
[code]
Here is an example demonstrating the problem which works if I use d

[2018-10-11 00:07] gdw2 commented on #740
Ouch!  Win10, i7, SSD.

[code]

[2018-10-11 09:43] ConAntares opened #1221 "Could Plotly export 3D building to a PDF with all elements are vector format?"
Could Plotly export 3D building to a PDF with all elements are vector format?

Now, I have a free account, if Plotly can export 3D buildings to a PDF or EPS file with all elements including line, point, colorbar, etc, are vector elements, i will buy it.

[2018-10-11 17:00] jhxu0416 opened #1222 "Customizable SI Codes with d3-format"
When I am setting valueformat in hoverlabel, plotly is using d3-format. I have the same issue as [Stackoverflow discussion](https://stackoverflow.com/questions/17037023/how-to-get-localizable-or-customizable-si-codes-with-d3-format), which is to show "B" instead of "G" to make chart more busniess friendly.

Is there a way to modify in plotly?

Thanks.

[2018-10-12 09:37] jonmmease commented on #1220
Thanks for the report @michaelbabyn

**Technical notes:**

Here's the schema for `layout.grid.subplots`:
[code]
Looks like we need to add support for the `dimensions` attribute of "info_array".  Elsewhere, dimensions is also set to a string specifying a range of values.

[code]

Additionally, to this point we have treated `freeLength` to mean that only a subset of the specified items are required.

[2018-10-12 09:41] jonmmease commented on #1221
Hi @ConAntares , static image export to vector formats can now be done offline without an account using the orca project. See https://plot.ly/python/static-image-export/.  But, here's an important note from that page:

So you can export 3D plots to PDF/EPS format, but they will be still be included as raster (non-vector) images.  This is also the case for the online export under a paid account.

P

[2018-10-12 09:41] #1221 closed

[2018-10-12 09:53] jonmmease commented on #1222
Hi @jhxu0416,

This would need to be handled in the plotly.js project (https://github.com/plotly/plotly.js), right now the formats are based on what D3 provides (https://github.com/d3/d3-format/blob/master/README.md#locale_format), and it doesn't look like there's a way to change the SI suffix. I'm going to close this here, but feel free to raise a feature request over there.

[2018-10-12 09:53] #1222 closed

[2018-10-12 13:41] etpinard commented on #1220
It corresponds to no restriction on the number of items in the "info" array.

https://github.com/plotly/plotly.js/blob/d34015066c8d339f041c9ac5ae68762a342d5d86/src/lib/coerce.js#L329-L355

[2018-10-12 22:33] kevalshah90 opened #1223 "plotly scattermapbox - issue with markers/plotting coordinates"
I have some code that creates a list of dictionaries with coordinates to plot on the map and layout object. The map is rendering fine, however, there aren't any markers or coordinates. The data object contains a list of coordinates, so my suspicion is some issue with plotly/scattermapbox.

Here's my code:

     def update_graph(selected_value):

     Comp_data = EmpComm1[EmpComm1['Company'] == sel

[2018-10-13 04:48] kevalshah90 commented on #1223
The Fix:

"lat": [lat],
"lon": [long]

[2018-10-13 04:48] #1223 closed

[2018-10-15 15:49] tim-sauchuk opened #1225 "Python Dashboard API - Custom Header and Box Title Font"
I see that all plots can have customized font, but fonts using the dashboard API doesn't allow for this. Specifically, the header font and the box title fonts are restricted to a default font. This would be great to have, since all text in a dashboard could use the same, custom font.

[2018-10-16 09:42] frgfm opened #1226 "[HTML plot div output] Reducing html file size"
Hi,

I'm having trouble with HTML output for significant data amounts.

# System
Linux system Ubuntu 16.04
Python 2.7
plotly 3.0.0

# Data used
A pandas dataset df, with 2 columns for instance 'prob' between 0 & 1 and 'cat_var' which would be a categorical variable

# What I did

`import plotly.offline as py
import plotly.graph_objs as go

traces = [go.Histogram(x=df.loc[df.cat_var == value, 'prob

[2018-10-16 10:32] jonmmease commented on #591
Some addional notes from #839

---
My idea for implementing the variable edge widths in the figure factory would be to discretize the continuous edge weight values into 10-15 bins.  Then for each binned width value, create one `scattergl` trace that has that width and includes all of the graph edges in that bin.  With this approach, I would expect we could support graphs of over 100k total nodes+e

[2018-10-16 10:44] jonmmease commented on #1226
Hi @frgfm ,

If you use the `histogram` trace type then the underlying data must be embedded along with the HTML.  In your case I'd recommend you compute the histogram in Python using numpy's histogram function (https://docs.scipy.org/doc/numpy/reference/generated/numpy.histogram.html#numpy.histogram), and then plot your data as a bar chart.

If you'd like more help working through the detials, pl

[2018-10-16 10:44] #1226 closed

[2018-10-16 11:41] Kully commented on #1225
Hey @tim-sauchuk, although it is not in the documentation page [over here](), you can actually set the fontfamily for the entire dashboard the same way you can do with the online tool:

For example:

[code]

and with these fonts to choose from:

![screen shot 2018-10-16 at 7 40 38 am](https://user-images.githubusercontent.com/10369095/47013926-c5a1c880-d116-11e8-93bd-4596bb766f0b.png)

Does this a

[2018-10-16 12:38] Tatooin3 commented on #1070
Thanks @jonmmease. I had the same problem and casting the variable as a Python int fixed the error.

[2018-10-16 13:22] capelastegui opened #1227 "Raise warning in plotly.offline.plot when output_type='file' and include_plotlyjs=False"
When calling plotly.offline.plot(), if we use output_type='file' and include_plotlyjs=False, the resulting html file is useless, as it cannot be rendered.

I'm using plotly 3.3.0.

[code]

According to the documentation:
[code]

I guess we are not supposed to use include_plotly_js=False and output_type='file' at the same time? If that is the case, the function should probably raise an error, rathe

[2018-10-16 15:10] Kkevsterrr commented on #1143
Sorry for the delay! Here's the code. I think I figured out the problem - if the links do not have "http://" in front of them, they don't work. Check the following example - on my version, the google link works, but the others do not.
[code]

[2018-10-17 09:54] jonmmease commented on #1227
Hi @capelastegui , thanks for the suggestion.

Perhaps `include_plotlyjs` should be allowed to be set to `True`, `False`, or `'cdn'`.

[2018-10-17 21:04] chrisranderson opened #1228 "Document aspectmode for 3D axes in example page"
I'm plotting spatial data and I wanted the aspect ratio of the data to be preserved, but I couldn't figure out how. I eventually found #70 and `aspectmode=data`.

In https://plot.ly/python/3d-axes/, there's no mention of "scale", "ratio", or "aspect" when I ctrl+F through. I think it would be helpful to add an example showing 1) skewed data due to the cube default and 2) data with square angles af

[2018-10-19 06:31] rr5577 commented on #1131
This works great now (dynamically updating the plot as well). Only the code from the python example specifying the (layout) axis seems to be obsolete (it doesn´t do anything when changed).
After changing that it worked:
[code]

![image](https://user-images.githubusercontent.com/31547476/47201193-511a9400-d379-11e8-8d71-8782955cb6f4.png)

[2018-10-19 10:25] jonmmease opened #1229 "tools.make_subplots titles don't respect row_width/column_width"
The `plotly.tools.make_subplots` function supports adding titles to subplots by carefully placing annotations.  `make_subplots` also supports a `row_width` /`column_width` parameter to specify non-uniform subplot widths/heights.

But it looks like the subplot title placing logic does not take `row_width` /`column_width` into account:

**`row_width`**:
[code]
![newplot 23](https://user-images.githu

[2018-10-19 21:00] roeap opened #1231 "inconsistency in (bar) chart api - width does not accept pandas series"
Hi Plotly Team,

I may have stumbled across an inconsistency in the api for the bar chart trace. I have gotten used to be able to pass pandas series to trace properties. However assigning the width of a bar chart does not work as expected if a pandas series is passed - the trace is not displayed. A simple example to reproduce the behavior in a Jupyter Notebook is provided below.

[code]

While the

[2018-10-20 10:42] jonmmease commented on #1228
Thanks for the suggestion @chrisranderson!  I'm going to move this to the documentation repo at https://github.com/plotly/documentation/issues/1142.

[2018-10-20 10:42] #1228 closed

[2018-10-20 10:45] jonmmease commented on #1231
Thanks for the report @roeap, I see what you mean.

**Technical notes:**
This *probably* means that plotly.js is not properly handling a typed array passed as the `bar.width` property, but we should confirm this in a codepen and open a plotly.js issue if so.

[2018-10-22 17:20] erichiggins opened #1235 "uuid.uuid1() fails on some machines (python bug)"
plotly.py currently uses [`uuid.uuid1()` to  generate a trace UID](https://github.com/plotly/plotly.py/blob/e197f57ef6f1330ff56c5f77da57e9111ebfb691/_plotly_utils/basevalidators.py#L2117). `uuid1` relies on the MAC address of the machine's network interface for uniqueness, and on some machines in certain configurations, it can fail. It's certainly breaking for me on one of my machines.

This [has

[2018-10-22 18:59] jonmmease commented on #1235
Hi @erichiggins, thanks for the report and background research. Yes, uuid4 looks like a good solution.

[2018-10-22 20:16] slazicoicr opened #1237 "Gantt Plot: Index by Numeric Variable only works with narrow numeric range"
I am using the example from the official docs:

[code]

If I change any of the `Complete` values to be a little big higher
`dict(Task="Job B", Start='2008-12-05', Finish='2009-04-15', Complete=300)`

the below error is thrown. Is it possible to allow colouring for an arbitrary numerical range?
[code]

[2018-10-23 14:22] #1220 closed

[2018-10-23 15:45] jonmmease commented on #1227
Hi @capelastegui,

This issue was part of the motivation for the #1234 PR.  Here is the updated docstring for `include_plotlyjs`

[code]

I don't want to make the `output_type='div'` and `include_plotlyjs=False` combination an outright error because I don't want to break any existing workflows folks may have built around the current behavior.  What do you think?

[2018-10-23 15:58] bpostlethwaite commented on #1231
@Kully can you port this bug report to a JS Codepen and open an issue in plotly.js (and link back here)?

[2018-10-23 19:33] Kully commented on #1231
Here's the JS Issue. I was able to replicate:
https://github.com/plotly/plotly.js/issues/3142

[2018-10-23 21:34] drenout opened #1241 "Table cells font is colored not according to the provided list"
I created the next color list for my table:
[code]
I expected to see white font color for all the columns except the last one, only one cell with the red and remaining cells with the green font color for the last column:
![image](https://user-images.githubusercontent.com/26801119/47390685-cca77880-d6cc-11e8-8510-ae375cdfc227.png)

But when I scroll the table down, the next appeared cell in the las

[2018-10-24 08:58] capelastegui commented on #1227
Thanks, this looks great to me. I agree that throwing a new error risks breaking stuff - perhaps a warning could be useful instead, to inform new users that this choice of arguments probably won't work, and pointing them toward the 'cdn' or 'directory' options.

[2018-10-24 12:30] jonmmease commented on #1237
Thanks for the suggestion @slazicoicr,

Yeah, it seems that the coloring range is hard coded to 0-100

https://github.com/plotly/plotly.py/blob/defab4c7c668b7bd0c7b60d055733a8ccd959b36/plotly/figure_factory/_gantt.py#L275-L288

I think a reasonable enhancement would be to allow custom `index_cmin` `index_cmax` values to be passed in as arguments. And we should probably also raise an error if these

[2018-10-24 12:34] jonmmease commented on #1241
Hi @drenout, thanks for the report.  Could you update your example with some simple sample data so that we have something to run to reproduce what you're seeing?  Thanks!

[2018-10-24 12:47] jonmmease commented on #1212
Issue opened: https://github.com/jackparmer/colorlover/issues/21

[2018-10-24 12:49] jonmmease commented on #1184
Hi @rselvak6, did you even have any luck with this?

[2018-10-24 12:50] jonmmease commented on #1179
Closing due to lack of activity. Feel free to start a thread on the forums (https://community.plot.ly/c/api/python) if you are still having installation problems.

[2018-10-24 12:50] #1179 closed

[2018-10-24 12:55] jonmmease commented on #1143
Thanks for following up @Kkevsterrr , you're diagnosis looks right. And I think it is the expected behavior. Browsers tend to interpret google.com as http://google.com in the URL bar, but when used in a hyperlink, an `href` without `http://` is treated as a relative path.

[2018-10-24 12:58] jonmmease commented on #1033
Hi @Juanlu001, just following up. I haven't studied the thread in detail, but it seems like folks are making progress on the RTD side.  Is there anything you see at this point that you need from plotly.py?

[2018-10-24 12:58] jonmmease commented on #1015
Closing due to lack of activity. Feel free to open a new issue with an example if you're still having trouble with this. Thanks!

[2018-10-24 12:58] #1015 closed

[2018-10-24 12:59] jonmmease commented on #1011
Closing due to lack of activity. Feel free to open a new issue with the requested info if you're still interested in working through this.

[2018-10-24 12:59] #1011 closed

[2018-10-24 13:00] jonmmease commented on #1009
Closing due to lack of activity. Feel free to open a new issue against plotly.py version 3.3 if you're still having trouble with this. Thanks!

[2018-10-24 13:00] #1009 closed

[2018-10-24 13:07] Kkevsterrr commented on #1143
Hmm no I don't think it's the expected behavior - plotly should be able to handle and graph with relative links and still treat it as a link - if you try that poc, a href is never set up for the links to bing and test.com - if I was hosting a heatmap and trying to add links to other sites on that server (which is what I was doing that led to the discovery of the bug), the <a> tag should be preserv

[2018-10-24 13:16] jonmmease commented on #1008
Moving this issue to the plotly.js tracker at https://github.com/plotly/plotly.js/issues/3147.  Thanks!

[2018-10-24 13:16] #1008 closed

[2018-10-24 13:17] jonmmease commented on #1003
Closing due to lack of activity. Feel free to open a new issue with the requested example if you're still interested. Thanks!

[2018-10-24 13:17] #1003 closed

[2018-10-24 13:18] jonmmease commented on #993
Closing due to lack of activity. Please open a new issue against plotly.py 3.3+ with requested example if you're still interested. Thanks!

[2018-10-24 13:18] #993 closed

[2018-10-24 13:21] jonmmease commented on #952
Hi @michalkahle and @WolfLo, could you try this CodePen example on Ubuntu 16.04 (and on any other OSs you have access to) and let us know if the problem exists there?

https://codepen.io/plotly/pen/XmGVdd

If you can reproduce on this example, then we've ruled out plotly.py and can move this issue to the plotly.js repo. Thanks!

[2018-10-24 13:28] jonmmease commented on #773
Closing due to lack of activity

[2018-10-24 13:28] #773 closed

[2018-10-24 13:28] jonmmease commented on #429
Closing due to lack of activity. Please open a new issue with the requested info if you're still interested in discussing this. Thanks!

[2018-10-24 13:28] #429 closed

[2018-10-24 13:31] jonmmease commented on #1161
Done in #924

[2018-10-24 13:31] #1161 closed

[2018-10-24 13:33] jonmmease commented on #1139
Closing as this was fixed in plotly.js and will be included in plotly.py 3.4

[2018-10-24 13:33] #1139 closed

[2018-10-24 13:33] jonmmease commented on #1043
Done in #1234

[2018-10-24 13:33] #1043 closed

[2018-10-24 13:43] jonmmease commented on #1229
From @Kully's comment in #896

[2018-10-24 13:43] jonmmease commented on #896
closing in favor of https://github.com/plotly/plotly.py/issues/1229

[2018-10-24 13:43] #896 closed

[2018-10-24 13:44] jonmmease commented on #995
Done in #1214 and will be released in version 3.4.0.. Thanks @paulamool

[2018-10-24 13:44] #995 closed

[2018-10-24 13:47] #1187 closed, assigned to nobody

[2018-10-24 13:51] Kully commented on #1229
I'll make a PR for this.

[2018-10-24 14:20] slazicoicr commented on #1237
In addition to the explicit values through arguments, would it not be possible to determine `index_cmin` and `index_cmax` from the data provided. I tested it on my dataset and it works.

**Note that I am not sure how this would work with negative values**

I added the following lines above the loop https://github.com/plotly/plotly.py/blob/defab4c7c668b7bd0c7b60d055733a8ccd959b36/plotly/figure_fact

[2018-10-24 15:03] jonmmease commented on #1143
Oh, I guess I'm seeing something different than you are.  I tried it in JupyterLab on Chrome and here's what I see.

![screen shot 2018-10-24 at 10 41 07 am](https://user-images.githubusercontent.com/15064365/47438923-6462a080-d779-11e8-9011-bb9a4ea6a124.png)

All three labels are interpreted as links (I can click on each and I navigate to a new page)
 - the `google.com` link navigates to http://g

[2018-10-24 15:07] Kkevsterrr commented on #1143
Yup - that matches exactly what I'm seeing. Thanks for digging into it further!

[2018-10-24 17:33] drenout commented on #1241
Python code with repro:
[code]

I expected to see only 'Apples' with red font color, but if you scroll table down, you'll see 'Pears' with red color as well in the last column

[2018-10-24 17:53] an5ir opened #1242 "graphs in Hbox not create any output"
Hi,
im trying to to create an interactive graph in networkx where you can click on one of the nodes and it update another graph beside it?

i am using Jupiter notebook and have   plotly 3.3.0, notebook 5.7 and ipywidgets 7.4.2 installed.

when running the following code:
[code]
i get a blank out put instead of graphs?
why does the Bbox not work?
if i plot the graphs individually using
[code]
they

[2018-10-24 18:30] empet commented on #1242
I'm sorry, but I cannot figure out what's going on on your system.   Here is how it works on mine:

![anim-an5ir](https://user-images.githubusercontent.com/3627253/47452870-e7b0e000-d7d3-11e8-93f4-67f6586c9015.gif)

[2018-10-24 19:11] bluprince13 commented on #399
Is there a way to hide links when using cufflinks? Cufflinks iplot does not config as a parameter.

[2018-10-24 19:31] VelizarVESSELINOV commented on #803
Your colleagues from plotly.js are now managing correctly reversed axis in 3D space https://github.com/plotly/plotly.js/issues/1940. @jonmmease do you need to reopen the issue or we need to create a new issue or automatically plotly.py will benefit from this new functionality?

[2018-10-24 20:42] an5ir commented on #1242
Hi sorry about this, is it possible you to upload a conda.yml file of the environment you are running this in.
this will be greatly appreciate.
i am very sorry for troubling you again.

[2018-10-24 22:40] Juanlu001 commented on #1033
@jonmmease Thanks! Progress is slow but I think it's been acknowledged that it's an issue on the RTD side - let's hope someone gives it the final push.

[2018-10-24 22:41] jonmmease commented on #399
Hi @bluprince13,  I don't know offhand, that would be something to bring up with the cufflinks project (https://github.com/santosjorge/cufflinks)

[2018-10-24 22:44] jonmmease commented on #803
Hi @VelizarVESSELINOV, plotly.py will get it automatically (our code generation process automatically picks up new properties like this). Looks like this will make it into plotly.py 3.4.0.

[2018-10-24 23:38] jonmmease commented on #1242
Forum post approved 🙂

[2018-10-24 23:38] #1242 closed

[2018-10-25 11:08] pmercatoris opened #1244 ""None" value of `hovertext` is shown as String"
In plotly 2.5.1, a None value of `hovertext` would result in the `hoverinfo` being skipped.
However, in 3.3.0, that is not the case. Instead, it will show the None as a string.

[code]
In 2.5.1, test is:
[code]
In 3.3.0, test is:
[code]

Resulting in this:

![screenshot_2018-10-25_12-53-18](https://user-images.githubusercontent.com/8655813/47496358-de1c8c00-d856-11e8-8954-a679bed3947d.png)

[2018-10-26 09:10] michalkahle commented on #952
@jonmmease I tested your example and it works OK. I've since upgraded to Ubuntu 18.04 and the issue still persists there.

[2018-10-26 10:41] jonmmease commented on #1241
Thanks for the example @drenout, I was able to reproduce this in Plotly.js directly. I created an issue with the Plotly.js project at https://github.com/plotly/plotly.js/issues/3167. I'm going to close this issue now since plotly.py will pick up any future fixes made in plotly.js automatically.

Thanks again for taking the time to report this and to make up the reproducible example!

[2018-10-26 10:41] #1241 closed

[2018-10-27 12:40] jonmmease commented on #637
Thanks for the suggestion @PhML, this is being added for version 3.4.0 in #1246

[2018-10-27 19:31] pnoonan32 opened #1247 "Changing the color of axes and numbers"
How can I change the color of the axes & numbers of a graph. For instance, if my x axis had the numbers 5,10,15,20. How can I change the color of those numbers. Also, if my x-axis title was "Dates", how can I change the color of that title

[2018-10-29 10:37] jonmmease commented on #637
Implemented in #1246

[2018-10-29 10:37] #637 closed

[2018-10-29 22:58] rselvak6 commented on #1184
Hi @jonmmease, apologies for the prolonged response. I believe the following is the expected output from the aforementioned command?

![image](https://user-images.githubusercontent.com/7735922/47685346-6d95a800-db93-11e8-8945-a87a2bb36e91.png)

There was no indication of the Python/Orca directories, but I'm unsure if that's expected.

[2018-10-30 10:18] jonmmease commented on #1247
Hi @pnoonan32,

Setting the `layout.xaxis.color` and `layout.yaxis.color` properties will set the color of the axes, axis ticks, and axis labels.

e.g.
[code]
![newplot 64](https://user-images.githubusercontent.com/15064365/47711374-7629c500-dc0b-11e8-898c-19dd8fd7f481.png)

Please ask future questions (that aren't bug reports / feature requests) in the forum at https://community.plot.ly/c/api/pyt

[2018-10-30 10:18] #1247 closed

[2018-10-30 10:20] jonmmease commented on #1244
Thanks for the report @pmercatoris, I see what you mean.  It looks like we're inadvertently converting `None` values to strings during validation.

[2018-10-30 12:44] jonmmease commented on #105
Done in #1243 and will be released in version 3.4.0.  LaTeX support requires no API changes for `iplot` or `FigureWidget` support.  An additional `include_mathjax` argument has been added to `plotly.offline.plot` to specify how MathJax should be included in the resulting html file/div.

[2018-10-30 12:44] #105 closed

[2018-10-30 12:46] jonmmease commented on #360
Done in #1243 and will be released in version 3.4.0.  When used in the notebook, plotly.js is now configured to not alter the global MathJax configuration.

[2018-10-30 12:46] #360 closed

[2018-10-30 12:47] jonmmease commented on #445
Fixed in #1243 and will be released in version 3.4.0.

[2018-10-30 12:47] #445 closed

[2018-10-30 12:49] jonmmease commented on #515
Done in #1243 and will be released in version 3.4.0.  LaTeX support requires no API changes for `iplot` or `FigureWidget` support.  An additional `include_mathjax` argument has been added to `plotly.offline.plot` to specify how MathJax should be included in the resulting html file/div.

[2018-10-30 12:49] #515 closed

[2018-10-30 22:27] #1229 closed, assigned to nobody

[2018-10-30 22:50] jonmmease commented on #1244
Done in #1249 and will be released in version 3.4.0. Thanks for taking the time to let us know!

[2018-10-30 22:50] #1244 closed

[2018-10-31 20:21] pnoonan32 opened #1252 "Plotly Map with Lines Error"
Link to my graph:
https://plot.ly/~pnoonan32/154

Image of errors NOT indicated in python interpreter that are coming from JavaScript console:
![image](https://user-images.githubusercontent.com/39175596/47816119-98fdcb80-dd28-11e8-9b7e-b5bb91e6094c.png)

Link to tutorial I was following
https://plot.ly/python/lines-on-maps/

I was attempting to follow this tutorial and successfully got created a g